/*
to change this license header, choose License Headers in Project Properties.
to change this template file, choose tools | templates
and open the template in the editor.
*/
/* 
    Created on : 03-12-2015, 16:36:45
    Author     : MyPC
*/
/*=======================================================
      BOOTSTRAP
========================================================*/
/*.list-unstyled

            Removes the default list-style and left margin on list items (works on both <ul> and <ol>). 
            This class only applies to immediate children list items (to remove the default list-style 
            from any nested lists, apply this class to any nested lists as well)*/

/*.list-inline
            Places all list items on a single line*/

/*.text-center
            Indicates center-aligned text*/


/*=======================================================
      COMMON
========================================================*/
/*---------- Vertical Align  -------*/
.vt-middle {
    vertical-align: middle;
    margin-top: auto!important;
    margin-bottom: auto;
    display: block;
}
.vt-text-top {
    vertical-align: text-top;
}

/*---------- Hover  -------*/
/* Zoom In #1 */
.hover01 {
	-webkit-transform: scale(1)!important;
	transform: scale(1)!important;
	-webkit-transition: .3s ease-in-out!important;
	transition: .3s ease-in-out!important;
}
/*---------- Hover  -------*/
.white-space-pre{
    white-space: pre;
}
/*---------- FONT  -------*/
.crimsontext{
    font-family: 'Crimson text', serif;
}
.playfaire{
    font-family: 'Playfair Display', serif;
}
.playfaire-sc{
    font-family: 'Playfair Display SC', serif;
}
.latotext{
    font-family: 'Lato', sans-serif;
}
.bank_gothic{
    font-family: 'BankGothicBT-Light', sans-serif;
}
.bank_gothic_bt_light{
    font-family: 'BankGothicBT-Light', sans-serif;
    
}
.bank_gothic_bt_medium{
    font-family: 'BankGothicBT-Medium', sans-serif;
}
.helvetica_neue{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
    
}
.helvetica_neue_blk{
    font-family: 'HelveticaNeueLTStd-Blk', sans-serif!important;
    
}
.helvetica_neue_md{
    font-family: 'HelveticaNeueLTStd-Md', sans-serif;
    
}
.eurostile
{
   font-family: 'EurostileBold', sans-serif; 
}
.arial{
    font-family: 'Arial', sans-serif;
}
@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }
.font-bold{
    font-weight: bold;
}
.font-italic{
    font-style: italic;
}
.regular{
    font-weight: 300 !important;
}
.uppercase{
    text-transform: uppercase;
}

/*---------- CENTER  -------*/
.align-center{
    margin: 0px auto;
    display: block!important;
}
.align-center-by-text-align-center{
    text-align: center;
}
/*---------- LEFT RIGHT  -------*/
.in-left{
   float:left; 
}
.in-right{
   float:right;
}
/*---------- NO  -------*/
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}
.no-border {
	border: none !important;
        -webkit-box-shadow: none!important;
}
.no-space {
	letter-spacing: 0px !important;
}
/*---------- FULL  -------*/
.full-width {
	display: inline-block;
	width: 100%;
}
/*---------- POSITION  -------*/

.absolute-position {
	position: absolute;
}
.relative-position {
	position: relative;
}
/*=======================================================
      HOVER 
========================================================*/
.container-over-*{
    
}
.container-over-*:hover .over-visible{
    display: block!important;
}
/*=======================================================
      TOGGLE
========================================================*/
.visible{
    display: block;
}
.no-visible{
    display:none;
}


/*=======================================================
      COLOR
========================================================*/
.color-black{
   color: black;
}
.color-white{
   color: white;
}
.color-333333{
    color: #333333;
}
.color-b96e85{
    color:#b96e85
}
.color-939393{
    color: #939393;
}
.color-003a63{
    color:#003a63;
}
.color-003a63{
    color:#003a63;
}
.color-003a63{
    color:#003a63;
}


/*=======================================================
      BG-COLOR
========================================================*/
.bg-color-black{
    background-color: black;
}
.bg-color-white{
    background-color: white;
}
.bg-color-d8d8d8{
    background-color: #d8d8d8;
}
.bg-color-003a63{
    background-color: #003a63 !important;
}


/*=======================================================
      BORDER_SOLID
========================================================*/
.border-solid-1{
    border:1px solid;
}
.border-solid-2{
    border:2px solid;
}
.border-solid-3{
    border:3px solid;
}
.border-bottom-solid-1{
    border-bottom: 1px solid;
}
.border-bottom-solid-2{
    border-bottom: 2px solid;
}

.border-left-solid-1{
    border-left: 1px solid;
}


.border-black{
    border-color: black
}
/*=======================================================
      POINTER
========================================================*/
.cursor-pointer{
    cursor: pointer;
}
/*=======================================================
      SECTION
========================================================*/
.section-padding-t-50{
    padding-top: 50px
}
/*=======================================================
      CIRCLE
========================================================*/
.circle-40{
    border-radius: 50%;
    width: 40px;
    height: 40px
}


/*=======================================================
      SPACING
========================================================*/

.spacing-0{letter-spacing: 0px;}
.spacing-1{letter-spacing: 1px;}.spacing-10{letter-spacing: 10px;}.spacing-11{letter-spacing: 11px;}.spacing-12{letter-spacing: 12px;}.spacing-13{letter-spacing: 13px;}.spacing-14{letter-spacing: 14px;}.spacing-15{letter-spacing: 15px;}.spacing-16{letter-spacing: 16px;}.spacing-17{letter-spacing: 17px;}.spacing-18{letter-spacing: 18px;}.spacing-19{letter-spacing: 19px;}
.spacing-2{letter-spacing: 2px;}.spacing-20{letter-spacing: 20px;}.spacing-21{letter-spacing: 21px;}.spacing-22{letter-spacing: 22px;}.spacing-23{letter-spacing: 23px;}.spacing-24{letter-spacing: 24px;}.spacing-25{letter-spacing: 25px;}.spacing-26{letter-spacing: 26px;}.spacing-27{letter-spacing: 27px;}.spacing-28{letter-spacing: 28px;}.spacing-29{letter-spacing: 29px;}
.spacing-3{letter-spacing: 3px;}
.spacing-4{letter-spacing: 4px;}
.spacing-5{letter-spacing: 5px;}
.spacing-6{letter-spacing: 6px;}
.spacing-7{letter-spacing: 7px;}
.spacing-8{letter-spacing: 8px;}
.spacing-9{letter-spacing: 9px;}
/*=======================================================
      FONT
========================================================*/
.fsz-0{font-size: 0px;}
.fsz-1{font-size: 1px;}.fsz-10{font-size: 10px;}.fsz-11{font-size: 11px;}.fsz-12{font-size: 12px;}.fsz-13{font-size: 13px;}.fsz-14{font-size: 14px;}.fsz-15{font-size: 15px;}.fsz-16{font-size: 16px;}.fsz-17{font-size: 17px;}.fsz-18{font-size: 18px;}.fsz-19{font-size: 19px;}
.fsz-2{font-size: 2px;}.fsz-20{font-size: 20px;}.fsz-21{font-size: 21px;}.fsz-22{font-size: 22px;}.fsz-23{font-size: 23px;}.fsz-24{font-size: 24px;}.fsz-25{font-size: 25px;}.fsz-26{font-size: 26px;}.fsz-27{font-size: 27px;}.fsz-28{font-size: 28px;}.fsz-29{font-size: 29px;}
.fsz-3{font-size: 3px;}.fsz-30{font-size: 30px;}.fsz-31{font-size: 31px;}.fsz-32{font-size: 32px;}.fsz-33{font-size: 33px;}.fsz-34{font-size: 34px;}.fsz-35{font-size: 35px;}.fsz-36{font-size: 36px;}.fsz-37{font-size: 37px;}.fsz-38{font-size: 38px;}.fsz-39{font-size: 39px;}
.fsz-4{font-size: 4px;}.fsz-40{font-size: 40px;}.fsz-41{font-size: 41px;}.fsz-42{font-size: 42px;}.fsz-43{font-size: 43px;}.fsz-44{font-size: 44px;}.fsz-45{font-size: 45px;}.fsz-46{font-size: 46px;}.fsz-47{font-size: 47px;}.fsz-48{font-size: 48px;}.fsz-49{font-size: 49px;}
.fsz-5{font-size: 5px;}.fsz-50{font-size: 50px;}.fsz-51{font-size: 51px;}.fsz-52{font-size: 52px;}.fsz-53{font-size: 53px;}.fsz-54{font-size: 54px;}.fsz-55{font-size: 55px;}.fsz-56{font-size: 56px;}.fsz-57{font-size: 57px;}.fsz-58{font-size: 58px;}.fsz-59{font-size: 59px;}
.fsz-6{font-size: 6px;}.fsz-60{font-size: 60px;}.fsz-61{font-size: 61px;}.fsz-62{font-size: 62px;}.fsz-63{font-size: 63px;}.fsz-64{font-size: 64px;}.fsz-65{font-size: 65px;}.fsz-66{font-size: 66px;}.fsz-67{font-size: 67px;}.fsz-68{font-size: 68px;}.fsz-69{font-size: 69px;}
.fsz-7{font-size: 7px;}.fsz-70{font-size: 70px;}.fsz-71{font-size: 71px;}.fsz-72{font-size: 72px;}.fsz-73{font-size: 73px;}.fsz-74{font-size: 74px;}.fsz-75{font-size: 75px;}.fsz-76{font-size: 76px;}.fsz-77{font-size: 77px;}.fsz-78{font-size: 78px;}.fsz-79{font-size: 79px;}
.fsz-8{font-size: 8px;}.fsz-80{font-size: 80px;}.fsz-81{font-size: 81px;}.fsz-82{font-size: 82px;}.fsz-83{font-size: 83px;}.fsz-84{font-size: 84px;}.fsz-85{font-size: 85px;}.fsz-86{font-size: 86px;}.fsz-87{font-size: 87px;}.fsz-88{font-size: 88px;}.fsz-89{font-size: 89px;}
.fsz-9{font-size: 9px;}.fsz-90{font-size: 90px;}.fsz-91{font-size: 91px;}.fsz-92{font-size: 92px;}.fsz-93{font-size: 93px;}.fsz-94{font-size: 94px;}.fsz-95{font-size: 95px;}.fsz-96{font-size: 96px;}.fsz-97{font-size: 97px;}.fsz-98{font-size: 98px;}.fsz-99{font-size: 99px;}
.fsz-100{font-size: 100px;}

/*=======================================================
      MARGIN
========================================================*/
.margin-t-0{margin-top: 0px;}
.margin-t-1{margin-top: 1px;}.margin-t-10{margin-top: 10px;}.margin-t-11{margin-top: 11px;}.margin-t-12{margin-top: 12px;}.margin-t-13{margin-top: 13px;}.margin-t-14{margin-top: 14px;}.margin-t-15{margin-top: 15px;}.margin-t-16{margin-top: 16px;}.margin-t-17{margin-top: 17px;}.margin-t-18{margin-top: 18px;}.margin-t-19{margin-top: 19px;}
.margin-t-2{margin-top: 2px;}.margin-t-20{margin-top: 20px;}.margin-t-21{margin-top: 21px;}.margin-t-22{margin-top: 22px;}.margin-t-23{margin-top: 23px;}.margin-t-24{margin-top: 24px;}.margin-t-25{margin-top: 25px;}.margin-t-26{margin-top: 26px;}.margin-t-27{margin-top: 27px;}.margin-t-28{margin-top: 28px;}.margin-t-29{margin-top: 29px;}
.margin-t-3{margin-top: 3px;}.margin-t-30{margin-top: 30px;}.margin-t-31{margin-top: 31px;}.margin-t-32{margin-top: 32px;}.margin-t-33{margin-top: 33px;}.margin-t-34{margin-top: 34px;}.margin-t-35{margin-top: 35px;}.margin-t-36{margin-top: 36px;}.margin-t-37{margin-top: 37px;}.margin-t-38{margin-top: 38px;}.margin-t-39{margin-top: 39px;}
.margin-t-4{margin-top: 4px;}.margin-t-40{margin-top: 40px;}.margin-t-41{margin-top: 41px;}.margin-t-42{margin-top: 42px;}.margin-t-43{margin-top: 43px;}.margin-t-44{margin-top: 44px;}.margin-t-45{margin-top: 45px;}.margin-t-46{margin-top: 46px;}.margin-t-47{margin-top: 47px;}.margin-t-48{margin-top: 48px;}.margin-t-49{margin-top: 49px;}
.margin-t-5{margin-top: 5px;}.margin-t-50{margin-top: 50px;}.margin-t-51{margin-top: 51px;}.margin-t-52{margin-top: 52px;}.margin-t-53{margin-top: 53px;}.margin-t-54{margin-top: 54px;}.margin-t-55{margin-top: 55px;}.margin-t-56{margin-top: 56px;}.margin-t-57{margin-top: 57px;}.margin-t-58{margin-top: 58px;}.margin-t-59{margin-top: 59px;}
.margin-t-6{margin-top: 6px;}.margin-t-60{margin-top: 60px;}.margin-t-61{margin-top: 61px;}.margin-t-62{margin-top: 62px;}.margin-t-63{margin-top: 63px;}.margin-t-64{margin-top: 64px;}.margin-t-65{margin-top: 65px;}.margin-t-66{margin-top: 66px;}.margin-t-67{margin-top: 67px;}.margin-t-68{margin-top: 68px;}.margin-t-69{margin-top: 69px;}
.margin-t-7{margin-top: 7px;}.margin-t-70{margin-top: 70px;}.margin-t-71{margin-top: 71px;}.margin-t-72{margin-top: 72px;}.margin-t-73{margin-top: 73px;}.margin-t-74{margin-top: 74px;}.margin-t-75{margin-top: 75px;}.margin-t-76{margin-top: 76px;}.margin-t-77{margin-top: 77px;}.margin-t-78{margin-top: 78px;}.margin-t-79{margin-top: 79px;}
.margin-t-8{margin-top: 8px;}.margin-t-80{margin-top: 80px;}.margin-t-81{margin-top: 81px;}.margin-t-82{margin-top: 82px;}.margin-t-83{margin-top: 83px;}.margin-t-84{margin-top: 84px;}.margin-t-85{margin-top: 85px;}.margin-t-86{margin-top: 86px;}.margin-t-87{margin-top: 87px;}.margin-t-88{margin-top: 88px;}.margin-t-89{margin-top: 89px;}
.margin-t-9{margin-top: 9px;}.margin-t-90{margin-top: 90px;}.margin-t-91{margin-top: 91px;}.margin-t-92{margin-top: 92px;}.margin-t-93{margin-top: 93px;}.margin-t-94{margin-top: 94px;}.margin-t-95{margin-top: 95px;}.margin-t-96{margin-top: 96px;}.margin-t-97{margin-top: 97px;}.margin-t-98{margin-top: 98px;}.margin-t-99{margin-top: 99px;}
.margin-t-100{margin-top: 100px;}

.margin-b-0{margin-bottom: 0px;}
.margin-b-1{margin-bottom: 1px;}.margin-b-10{margin-bottom: 1px;}.margin-b-11{margin-bottom: 11px;}.margin-b-12{margin-bottom: 12px;}.margin-b-13{margin-bottom: 13px;}.margin-b-14{margin-bottom: 14px;}.margin-b-15{margin-bottom: 15px;}.margin-b-16{margin-bottom: 16px;}.margin-b-17{margin-bottom: 17px;}.margin-b-18{margin-bottom: 18px;}.margin-b-19{margin-bottom: 19px;}
.margin-b-2{margin-bottom: 2px;}.margin-b-20{margin-bottom: 20px;}.margin-b-21{margin-bottom: 21px;}.margin-b-22{margin-bottom: 22px;}.margin-b-23{margin-bottom: 23px;}.margin-b-24{margin-bottom: 24px;}.margin-b-25{margin-bottom: 25px;}.margin-b-26{margin-bottom: 26px;}.margin-b-27{margin-bottom: 27px;}.margin-b-28{margin-bottom: 28px;}.margin-b-29{margin-bottom: 29px;}
.margin-b-3{margin-bottom: 3px;}.margin-b-30{margin-bottom: 30px;}.margin-b-31{margin-bottom: 31px;}.margin-b-32{margin-bottom: 32px;}.margin-b-33{margin-bottom: 33px;}.margin-b-34{margin-bottom: 34px;}.margin-b-35{margin-bottom: 35px;}.margin-b-36{margin-bottom: 36px;}.margin-b-37{margin-bottom: 37px;}.margin-b-38{margin-bottom: 38px;}.margin-b-39{margin-bottom: 39px;}
.margin-b-4{margin-bottom: 4px;}.margin-b-40{margin-bottom: 40px;}.margin-b-41{margin-bottom: 41px;}.margin-b-42{margin-bottom: 42px;}.margin-b-43{margin-bottom: 43px;}.margin-b-44{margin-bottom: 44px;}.margin-b-45{margin-bottom: 45px;}.margin-b-46{margin-bottom: 46px;}.margin-b-47{margin-bottom: 47px;}.margin-b-48{margin-bottom: 48px;}.margin-b-49{margin-bottom: 49px;}
.margin-b-5{margin-bottom: 5px;}.margin-b-50{margin-bottom: 50px;}.margin-b-51{margin-bottom: 51px;}.margin-b-52{margin-bottom: 52px;}.margin-b-53{margin-bottom: 53px;}.margin-b-54{margin-bottom: 54px;}.margin-b-55{margin-bottom: 55px;}.margin-b-56{margin-bottom: 56px;}.margin-b-57{margin-bottom: 57px;}.margin-b-58{margin-bottom: 58px;}.margin-b-59{margin-bottom: 59px;}
.margin-b-6{margin-bottom: 6px;}.margin-b-60{margin-bottom: 60px;}.margin-b-61{margin-bottom: 61px;}.margin-b-62{margin-bottom: 62px;}.margin-b-63{margin-bottom: 63px;}.margin-b-64{margin-bottom: 64px;}.margin-b-65{margin-bottom: 65px;}.margin-b-66{margin-bottom: 66px;}.margin-b-67{margin-bottom: 67px;}.margin-b-68{margin-bottom: 68px;}.margin-b-69{margin-bottom: 69px;}
.margin-b-7{margin-bottom: 7px;}.margin-b-70{margin-bottom: 70px;}.margin-b-71{margin-bottom: 71px;}.margin-b-72{margin-bottom: 72px;}.margin-b-73{margin-bottom: 73px;}.margin-b-74{margin-bottom: 74px;}.margin-b-75{margin-bottom: 75px;}.margin-b-76{margin-bottom: 76px;}.margin-b-77{margin-bottom: 77px;}.margin-b-78{margin-bottom: 78px;}.margin-b-79{margin-bottom: 79px;}
.margin-b-8{margin-bottom: 8px;}.margin-b-80{margin-bottom: 80px;}.margin-b-81{margin-bottom: 81px;}.margin-b-82{margin-bottom: 82px;}.margin-b-83{margin-bottom: 83px;}.margin-b-84{margin-bottom: 84px;}.margin-b-85{margin-bottom: 85px;}.margin-b-86{margin-bottom: 86px;}.margin-b-87{margin-bottom: 87px;}.margin-b-88{margin-bottom: 88px;}.margin-b-89{margin-bottom: 89px;}
.margin-b-9{margin-bottom: 9px;}.margin-b-90{margin-bottom: 90px;}.margin-b-91{margin-bottom: 91px;}.margin-b-92{margin-bottom: 92px;}.margin-b-93{margin-bottom: 93px;}.margin-b-94{margin-bottom: 94px;}.margin-b-95{margin-bottom: 95px;}.margin-b-96{margin-bottom: 96px;}.margin-b-97{margin-bottom: 97px;}.margin-b-98{margin-bottom: 98px;}.margin-b-99{margin-bottom: 99px;}
.margin-b-100{margin-bottom: 100px;}

.margin-l-0{margin-left: 0px;}
.margin-l-1{margin-left: 1px;}.margin-l-10{margin-left: 10px;}.margin-l-11{margin-left: 11px;}.margin-l-12{margin-left: 12px;}.margin-l-13{margin-left: 13px;}.margin-l-14{margin-left: 14px;}.margin-l-15{margin-left: 15px;}.margin-l-16{margin-left: 16px;}.margin-l-17{margin-left: 17px;}.margin-l-18{margin-left: 18px;}.margin-l-19{margin-left: 19px;}
.margin-l-2{margin-left: 2px;}.margin-l-20{margin-left: 20px;}.margin-l-21{margin-left: 21px;}.margin-l-22{margin-left: 22px;}.margin-l-23{margin-left: 23px;}.margin-l-24{margin-left: 24px;}.margin-l-25{margin-left: 25px;}.margin-l-26{margin-left: 26px;}.margin-l-27{margin-left: 27px;}.margin-l-28{margin-left: 28px;}.margin-l-29{margin-left: 29px;}
.margin-l-3{margin-left: 3px;}.margin-l-30{margin-left: 30px;}.margin-l-31{margin-left: 31px;}.margin-l-32{margin-left: 32px;}.margin-l-33{margin-left: 33px;}.margin-l-34{margin-left: 34px;}.margin-l-35{margin-left: 35px;}.margin-l-36{margin-left: 36px;}.margin-l-37{margin-left: 37px;}.margin-l-38{margin-left: 38px;}.margin-l-39{margin-left: 39px;}
.margin-l-4{margin-left: 4px;}.margin-l-40{margin-left: 40px;}.margin-l-41{margin-left: 41px;}.margin-l-42{margin-left: 42px;}.margin-l-43{margin-left: 43px;}.margin-l-44{margin-left: 44px;}.margin-l-45{margin-left: 45px;}.margin-l-46{margin-left: 46px;}.margin-l-47{margin-left: 47px;}.margin-l-48{margin-left: 48px;}.margin-l-49{margin-left: 49px;}
.margin-l-5{margin-left: 5px;}.margin-l-50{margin-left: 50px;}.margin-l-51{margin-left: 51px;}.margin-l-52{margin-left: 52px;}.margin-l-53{margin-left: 53px;}.margin-l-54{margin-left: 54px;}.margin-l-55{margin-left: 55px;}.margin-l-56{margin-left: 56px;}.margin-l-57{margin-left: 57px;}.margin-l-58{margin-left: 58px;}.margin-l-59{margin-left: 59px;}
.margin-l-6{margin-left: 6px;}.margin-l-60{margin-left: 60px;}.margin-l-61{margin-left: 61px;}.margin-l-62{margin-left: 62px;}.margin-l-63{margin-left: 63px;}.margin-l-64{margin-left: 64px;}.margin-l-65{margin-left: 65px;}.margin-l-66{margin-left: 66px;}.margin-l-67{margin-left: 67px;}.margin-l-68{margin-left: 68px;}.margin-l-69{margin-left: 69px;}
.margin-l-7{margin-left: 7px;}.margin-l-70{margin-left: 70px;}.margin-l-71{margin-left: 71px;}.margin-l-72{margin-left: 72px;}.margin-l-73{margin-left: 73px;}.margin-l-74{margin-left: 74px;}.margin-l-75{margin-left: 75px;}.margin-l-76{margin-left: 76px;}.margin-l-77{margin-left: 77px;}.margin-l-78{margin-left: 78px;}.margin-l-79{margin-left: 79px;}
.margin-l-8{margin-left: 8px;}.margin-l-80{margin-left: 80px;}.margin-l-81{margin-left: 81px;}.margin-l-82{margin-left: 82px;}.margin-l-83{margin-left: 83px;}.margin-l-84{margin-left: 84px;}.margin-l-85{margin-left: 85px;}.margin-l-86{margin-left: 86px;}.margin-l-87{margin-left: 87px;}.margin-l-88{margin-left: 88px;}.margin-l-89{margin-left: 89px;}
.margin-l-9{margin-left: 9px;}.margin-l-90{margin-left: 90px;}.margin-l-91{margin-left: 91px;}.margin-l-92{margin-left: 92px;}.margin-l-93{margin-left: 93px;}.margin-l-94{margin-left: 94px;}.margin-l-95{margin-left: 95px;}.margin-l-96{margin-left: 96px;}.margin-l-97{margin-left: 97px;}.margin-l-98{margin-left: 98px;}.margin-l-99{margin-left: 99px;}
.margin-l-100{margin-left: 100px;}

.margin-r-0{margin-right: 0px;}
.margin-r-1{margin-right: 1px;}.margin-r-10{margin-right: 10px;}.margin-r-11{margin-right: 11px;}.margin-r-12{margin-right: 12px;}.margin-r-13{margin-right: 13px;}.margin-r-14{margin-right: 14px;}.margin-r-15{margin-right: 15px;}.margin-r-16{margin-right: 16px;}.margin-r-17{margin-right: 17px;}.margin-r-18{margin-right: 18px;}.margin-r-19{margin-right: 19px;}
.margin-r-2{margin-right: 2px;}.margin-r-20{margin-right: 20px;}.margin-r-21{margin-right: 21px;}.margin-r-22{margin-right: 22px;}.margin-r-23{margin-right: 23px;}.margin-r-24{margin-right: 24px;}.margin-r-25{margin-right: 25px;}.margin-r-26{margin-right: 26px;}.margin-r-27{margin-right: 27px;}.margin-r-28{margin-right: 28px;}.margin-r-29{margin-right: 29px;}
.margin-r-3{margin-right: 3px;}.margin-r-30{margin-right: 30px;}.margin-r-31{margin-right: 31px;}.margin-r-32{margin-right: 32px;}.margin-r-33{margin-right: 33px;}.margin-r-34{margin-right: 34px;}.margin-r-35{margin-right: 35px;}.margin-r-36{margin-right: 36px;}.margin-r-37{margin-right: 37px;}.margin-r-38{margin-right: 38px;}.margin-r-39{margin-right: 39px;}
.margin-r-4{margin-right: 4px;}.margin-r-40{margin-right: 40px;}.margin-r-41{margin-right: 41px;}.margin-r-42{margin-right: 42px;}.margin-r-43{margin-right: 43px;}.margin-r-44{margin-right: 44px;}.margin-r-45{margin-right: 45px;}.margin-r-46{margin-right: 46px;}.margin-r-47{margin-right: 47px;}.margin-r-48{margin-right: 48px;}.margin-r-49{margin-right: 49px;}
.margin-r-5{margin-right: 5px;}.margin-r-50{margin-right: 50px;}.margin-r-51{margin-right: 51px;}.margin-r-52{margin-right: 52px;}.margin-r-53{margin-right: 53px;}.margin-r-54{margin-right: 54px;}.margin-r-55{margin-right: 55px;}.margin-r-56{margin-right: 56px;}.margin-r-57{margin-right: 57px;}.margin-r-58{margin-right: 58px;}.margin-r-59{margin-right: 59px;}
.margin-r-6{margin-right: 6px;}.margin-r-60{margin-right: 60px;}.margin-r-61{margin-right: 61px;}.margin-r-62{margin-right: 62px;}.margin-r-63{margin-right: 63px;}.margin-r-64{margin-right: 64px;}.margin-r-65{margin-right: 65px;}.margin-r-66{margin-right: 66px;}.margin-r-67{margin-right: 67px;}.margin-r-68{margin-right: 68px;}.margin-r-69{margin-right: 69px;}
.margin-r-7{margin-right: 7px;}.margin-r-70{margin-right: 70px;}.margin-r-71{margin-right: 71px;}.margin-r-72{margin-right: 72px;}.margin-r-73{margin-right: 73px;}.margin-r-74{margin-right: 74px;}.margin-r-75{margin-right: 75px;}.margin-r-76{margin-right: 76px;}.margin-r-77{margin-right: 77px;}.margin-r-78{margin-right: 78px;}.margin-r-79{margin-right: 79px;}
.margin-r-8{margin-right: 8px;}.margin-r-80{margin-right: 80px;}.margin-r-81{margin-right: 81px;}.margin-r-82{margin-right: 82px;}.margin-r-83{margin-right: 83px;}.margin-r-84{margin-right: 84px;}.margin-r-85{margin-right: 85px;}.margin-r-86{margin-right: 86px;}.margin-r-87{margin-right: 87px;}.margin-r-88{margin-right: 88px;}.margin-r-89{margin-right: 89px;}
.margin-r-9{margin-right: 9px;}.margin-r-90{margin-right: 90px;}.margin-r-91{margin-right: 91px;}.margin-r-92{margin-right: 92px;}.margin-r-93{margin-right: 93px;}.margin-r-94{margin-right: 94px;}.margin-r-95{margin-right: 95px;}.margin-r-96{margin-right: 96px;}.margin-r-97{margin-right: 97px;}.margin-r-98{margin-right: 98px;}.margin-r-99{margin-right: 99px;}
.margin-r-100{margin-right: 100px;}


/*=======================================================
      PADDING
========================================================*/
.padding-t-0{padding-top: 0px;}
.padding-t-1{padding-top: 1px;}.padding-t-10{padding-top: 10px;}.padding-t-11{padding-top: 11px;}.padding-t-12{padding-top: 12px;}.padding-t-13{padding-top: 13px;}.padding-t-14{padding-top: 14px;}.padding-t-15{padding-top: 15px;}.padding-t-16{padding-top: 16px;}.padding-t-17{padding-top: 17px;}.padding-t-18{padding-top: 18px;}.padding-t-19{padding-top: 19px;}
.padding-t-2{padding-top: 2px;}.padding-t-20{padding-top: 20px;}.padding-t-21{padding-top: 21px;}.padding-t-22{padding-top: 22px;}.padding-t-23{padding-top: 23px;}.padding-t-24{padding-top: 24px;}.padding-t-25{padding-top: 25px;}.padding-t-26{padding-top: 26px;}.padding-t-27{padding-top: 27px;}.padding-t-28{padding-top: 28px;}.padding-t-29{padding-top: 29px;}
.padding-t-3{padding-top: 3px;}.padding-t-30{padding-top: 30px;}.padding-t-31{padding-top: 31px;}.padding-t-32{padding-top: 32px;}.padding-t-33{padding-top: 33px;}.padding-t-34{padding-top: 34px;}.padding-t-35{padding-top: 35px;}.padding-t-36{padding-top: 36px;}.padding-t-37{padding-top: 37px;}.padding-t-38{padding-top: 38px;}.padding-t-39{padding-top: 39px;}
.padding-t-4{padding-top: 4px;}.padding-t-40{padding-top: 40px;}.padding-t-41{padding-top: 41px;}.padding-t-42{padding-top: 42px;}.padding-t-43{padding-top: 43px;}.padding-t-44{padding-top: 44px;}.padding-t-45{padding-top: 45px;}.padding-t-46{padding-top: 46px;}.padding-t-47{padding-top: 47px;}.padding-t-48{padding-top: 48px;}.padding-t-49{padding-top: 49px;}
.padding-t-5{padding-top: 5px;}.padding-t-50{padding-top: 50px;}.padding-t-51{padding-top: 51px;}.padding-t-52{padding-top: 52px;}.padding-t-53{padding-top: 53px;}.padding-t-54{padding-top: 54px;}.padding-t-55{padding-top: 55px;}.padding-t-56{padding-top: 56px;}.padding-t-57{padding-top: 57px;}.padding-t-58{padding-top: 58px;}.padding-t-59{padding-top: 59px;}
.padding-t-6{padding-top: 6px;}.padding-t-60{padding-top: 60px;}.padding-t-61{padding-top: 61px;}.padding-t-62{padding-top: 62px;}.padding-t-63{padding-top: 63px;}.padding-t-64{padding-top: 64px;}.padding-t-65{padding-top: 65px;}.padding-t-66{padding-top: 66px;}.padding-t-67{padding-top: 67px;}.padding-t-68{padding-top: 68px;}.padding-t-69{padding-top: 69px;}
.padding-t-7{padding-top: 7px;}.padding-t-70{padding-top: 70px;}.padding-t-71{padding-top: 71px;}.padding-t-72{padding-top: 72px;}.padding-t-73{padding-top: 73px;}.padding-t-74{padding-top: 74px;}.padding-t-75{padding-top: 75px;}.padding-t-76{padding-top: 76px;}.padding-t-77{padding-top: 77px;}.padding-t-78{padding-top: 78px;}.padding-t-79{padding-top: 79px;}
.padding-t-8{padding-top: 8px;}.padding-t-80{padding-top: 80px;}.padding-t-81{padding-top: 81px;}.padding-t-82{padding-top: 82px;}.padding-t-83{padding-top: 83px;}.padding-t-84{padding-top: 84px;}.padding-t-85{padding-top: 85px;}.padding-t-86{padding-top: 86px;}.padding-t-87{padding-top: 87px;}.padding-t-88{padding-top: 88px;}.padding-t-89{padding-top: 89px;}
.padding-t-9{padding-top: 9px;}.padding-t-90{padding-top: 90px;}.padding-t-91{padding-top: 91px;}.padding-t-92{padding-top: 92px;}.padding-t-93{padding-top: 93px;}.padding-t-94{padding-top: 94px;}.padding-t-95{padding-top: 95px;}.padding-t-96{padding-top: 96px;}.padding-t-97{padding-top: 97px;}.padding-t-98{padding-top: 98px;}.padding-t-99{padding-top: 99px;}
.padding-t-100{padding-top: 100px;}

.padding-b-0{padding-bottom: 0px;}
.padding-b-1{padding-bottom: 1px;}.padding-b-10{padding-bottom: 10px;}.padding-b-11{padding-bottom: 11px;}.padding-b-12{padding-bottom: 12px;}.padding-b-13{padding-bottom: 13px;}.padding-b-14{padding-bottom: 14px;}.padding-b-15{padding-bottom: 15px;}.padding-b-16{padding-bottom: 16px;}.padding-b-17{padding-bottom: 17px;}.padding-b-18{padding-bottom: 18px;}.padding-b-19{padding-bottom: 19px;}
.padding-b-2{padding-bottom: 2px;}.padding-b-20{padding-bottom: 20px;}.padding-b-21{padding-bottom: 21px;}.padding-b-22{padding-bottom: 22px;}.padding-b-23{padding-bottom: 23px;}.padding-b-24{padding-bottom: 24px;}.padding-b-25{padding-bottom: 25px;}.padding-b-26{padding-bottom: 26px;}.padding-b-27{padding-bottom: 27px;}.padding-b-28{padding-bottom: 28px;}.padding-b-29{padding-bottom: 29px;}
.padding-b-3{padding-bottom: 3px;}.padding-b-30{padding-bottom: 30px;}.padding-b-31{padding-bottom: 31px;}.padding-b-32{padding-bottom: 32px;}.padding-b-33{padding-bottom: 33px;}.padding-b-34{padding-bottom: 34px;}.padding-b-35{padding-bottom: 35px;}.padding-b-36{padding-bottom: 36px;}.padding-b-37{padding-bottom: 37px;}.padding-b-38{padding-bottom: 38px;}.padding-b-39{padding-bottom: 39px;}
.padding-b-4{padding-bottom: 4px;}.padding-b-40{padding-bottom: 40px;}.padding-b-41{padding-bottom: 41px;}.padding-b-42{padding-bottom: 42px;}.padding-b-43{padding-bottom: 43px;}.padding-b-44{padding-bottom: 44px;}.padding-b-45{padding-bottom: 45px;}.padding-b-46{padding-bottom: 46px;}.padding-b-47{padding-bottom: 47px;}.padding-b-48{padding-bottom: 48px;}.padding-b-49{padding-bottom: 49px;}
.padding-b-5{padding-bottom: 5px;}.padding-b-50{padding-bottom: 50px;}.padding-b-51{padding-bottom: 51px;}.padding-b-52{padding-bottom: 52px;}.padding-b-53{padding-bottom: 53px;}.padding-b-54{padding-bottom: 54px;}.padding-b-55{padding-bottom: 55px;}.padding-b-56{padding-bottom: 56px;}.padding-b-57{padding-bottom: 57px;}.padding-b-58{padding-bottom: 58px;}.padding-b-59{padding-bottom: 59px;}
.padding-b-6{padding-bottom: 6px;}.padding-b-60{padding-bottom: 60px;}.padding-b-61{padding-bottom: 61px;}.padding-b-62{padding-bottom: 62px;}.padding-b-63{padding-bottom: 63px;}.padding-b-64{padding-bottom: 64px;}.padding-b-65{padding-bottom: 65px;}.padding-b-66{padding-bottom: 66px;}.padding-b-67{padding-bottom: 67px;}.padding-b-68{padding-bottom: 68px;}.padding-b-69{padding-bottom: 69px;}
.padding-b-7{padding-bottom: 7px;}.padding-b-70{padding-bottom: 70px;}.padding-b-71{padding-bottom: 71px;}.padding-b-72{padding-bottom: 72px;}.padding-b-73{padding-bottom: 73px;}.padding-b-74{padding-bottom: 74px;}.padding-b-75{padding-bottom: 75px;}.padding-b-76{padding-bottom: 76px;}.padding-b-77{padding-bottom: 77px;}.padding-b-78{padding-bottom: 78px;}.padding-b-79{padding-bottom: 79px;}
.padding-b-8{padding-bottom: 8px;}.padding-b-80{padding-bottom: 80px;}.padding-b-81{padding-bottom: 81px;}.padding-b-82{padding-bottom: 82px;}.padding-b-83{padding-bottom: 83px;}.padding-b-84{padding-bottom: 84px;}.padding-b-85{padding-bottom: 85px;}.padding-b-86{padding-bottom: 86px;}.padding-b-87{padding-bottom: 87px;}.padding-b-88{padding-bottom: 88px;}.padding-b-89{padding-bottom: 89px;}
.padding-b-9{padding-bottom: 9px;}.padding-b-90{padding-bottom: 90px;}.padding-b-91{padding-bottom: 91px;}.padding-b-92{padding-bottom: 92px;}.padding-b-93{padding-bottom: 93px;}.padding-b-94{padding-bottom: 94px;}.padding-b-95{padding-bottom: 95px;}.padding-b-96{padding-bottom: 96px;}.padding-b-97{padding-bottom: 97px;}.padding-b-98{padding-bottom: 98px;}.padding-b-99{padding-bottom: 99px;}
.padding-b-1{padding-bottom: 100px;}

.padding-l-0{padding-left: 100px;}
.padding-l-1{padding-left: 1px;}.padding-l-10{padding-left: 10px;}.padding-l-11{padding-left: 11px;}.padding-l-12{padding-left: 12px;}.padding-l-13{padding-left: 13px;}.padding-l-14{padding-left: 14px;}.padding-l-15{padding-left: 15px;}.padding-l-16{padding-left: 16px;}.padding-l-17{padding-left: 17px;}.padding-l-18{padding-left: 18px;}.padding-l-19{padding-left: 19px;}
.padding-l-2{padding-left: 2px;}.padding-l-20{padding-left: 20px;}.padding-l-21{padding-left: 21px;}.padding-l-22{padding-left: 22px;}.padding-l-23{padding-left: 23px;}.padding-l-24{padding-left: 24px;}.padding-l-25{padding-left: 25px;}.padding-l-26{padding-left: 26px;}.padding-l-27{padding-left: 27px;}.padding-l-28{padding-left: 28px;}.padding-l-29{padding-left: 29px;}
.padding-l-3{padding-left: 3px;}.padding-l-30{padding-left: 30px;}.padding-l-31{padding-left: 31px;}.padding-l-32{padding-left: 32px;}.padding-l-33{padding-left: 33px;}.padding-l-34{padding-left: 34px;}.padding-l-35{padding-left: 35px;}.padding-l-36{padding-left: 36px;}.padding-l-37{padding-left: 37px;}.padding-l-38{padding-left: 38px;}.padding-l-39{padding-left: 39px;}
.padding-l-4{padding-left: 4px;}.padding-l-40{padding-left: 40px;}.padding-l-41{padding-left: 41px;}.padding-l-42{padding-left: 42px;}.padding-l-43{padding-left: 43px;}.padding-l-44{padding-left: 44px;}.padding-l-45{padding-left: 45px;}.padding-l-46{padding-left: 46px;}.padding-l-47{padding-left: 47px;}.padding-l-48{padding-left: 48px;}.padding-l-49{padding-left: 49px;}
.padding-l-5{padding-left: 5px;}.padding-l-50{padding-left: 50px;}.padding-l-51{padding-left: 51px;}.padding-l-52{padding-left: 52px;}.padding-l-53{padding-left: 53px;}.padding-l-54{padding-left: 54px;}.padding-l-55{padding-left: 55px;}.padding-l-56{padding-left: 56px;}.padding-l-57{padding-left: 57px;}.padding-l-58{padding-left: 58px;}.padding-l-59{padding-left: 59px;}
.padding-l-6{padding-left: 6px;}.padding-l-60{padding-left: 60px;}.padding-l-61{padding-left: 61px;}.padding-l-62{padding-left: 62px;}.padding-l-63{padding-left: 63px;}.padding-l-64{padding-left: 64px;}.padding-l-65{padding-left: 65px;}.padding-l-66{padding-left: 66px;}.padding-l-67{padding-left: 67px;}.padding-l-68{padding-left: 68px;}.padding-l-69{padding-left: 69px;}
.padding-l-7{padding-left: 7px;}.padding-l-70{padding-left: 70px;}.padding-l-71{padding-left: 71px;}.padding-l-72{padding-left: 72px;}.padding-l-73{padding-left: 73px;}.padding-l-74{padding-left: 74px;}.padding-l-75{padding-left: 75px;}.padding-l-76{padding-left: 76px;}.padding-l-77{padding-left: 77px;}.padding-l-78{padding-left: 78px;}.padding-l-79{padding-left: 79px;}
.padding-l-8{padding-left: 8px;}.padding-l-80{padding-left: 80px;}.padding-l-81{padding-left: 81px;}.padding-l-82{padding-left: 82px;}.padding-l-83{padding-left: 83px;}.padding-l-84{padding-left: 84px;}.padding-l-85{padding-left: 85px;}.padding-l-86{padding-left: 86px;}.padding-l-87{padding-left: 87px;}.padding-l-88{padding-left: 88px;}.padding-l-89{padding-left: 89px;}
.padding-l-9{padding-left: 9px;}.padding-l-90{padding-left: 90px;}.padding-l-91{padding-left: 91px;}.padding-l-92{padding-left: 92px;}.padding-l-93{padding-left: 93px;}.padding-l-94{padding-left: 94px;}.padding-l-95{padding-left: 95px;}.padding-l-96{padding-left: 96px;}.padding-l-97{padding-left: 97px;}.padding-l-98{padding-left: 98px;}.padding-l-99{padding-left: 99px;}
.padding-l-100{padding-left: 100px;}

.padding-r-0{padding-right: 100px;}
.padding-r-1{padding-right: 1px;}.padding-r-10{padding-right: 10px;}.padding-r-11{padding-right: 11px;}.padding-r-12{padding-right: 12px;}.padding-r-13{padding-right: 13px;}.padding-r-14{padding-right: 14px;}.padding-r-15{padding-right: 15px;}.padding-r-16{padding-right: 16px;}.padding-r-17{padding-right: 17px;}.padding-r-18{padding-right: 18px;}.padding-r-19{padding-right: 19px;}
.padding-r-2{padding-right: 2px;}.padding-r-20{padding-right: 20px;}.padding-r-21{padding-right: 21px;}.padding-r-22{padding-right: 22px;}.padding-r-23{padding-right: 23px;}.padding-r-24{padding-right: 24px;}.padding-r-25{padding-right: 25px;}.padding-r-26{padding-right: 26px;}.padding-r-27{padding-right: 27px;}.padding-r-28{padding-right: 28px;}.padding-r-29{padding-right: 29px;}
.padding-r-3{padding-right: 3px;}.padding-r-30{padding-right: 30px;}.padding-r-31{padding-right: 31px;}.padding-r-32{padding-right: 32px;}.padding-r-33{padding-right: 33px;}.padding-r-34{padding-right: 34px;}.padding-r-35{padding-right: 35px;}.padding-r-36{padding-right: 36px;}.padding-r-37{padding-right: 37px;}.padding-r-38{padding-right: 38px;}.padding-r-39{padding-right: 39px;}
.padding-r-4{padding-right: 4px;}.padding-r-40{padding-right: 40px;}.padding-r-41{padding-right: 41px;}.padding-r-42{padding-right: 42px;}.padding-r-43{padding-right: 43px;}.padding-r-44{padding-right: 44px;}.padding-r-45{padding-right: 45px;}.padding-r-46{padding-right: 46px;}.padding-r-47{padding-right: 47px;}.padding-r-48{padding-right: 48px;}.padding-r-49{padding-right: 49px;}
.padding-r-5{padding-right: 5px;}.padding-r-50{padding-right: 50px;}.padding-r-51{padding-right: 51px;}.padding-r-52{padding-right: 52px;}.padding-r-53{padding-right: 53px;}.padding-r-54{padding-right: 54px;}.padding-r-55{padding-right: 55px;}.padding-r-56{padding-right: 56px;}.padding-r-57{padding-right: 57px;}.padding-r-58{padding-right: 58px;}.padding-r-59{padding-right: 59px;}
.padding-r-6{padding-right: 6px;}.padding-r-60{padding-right: 60px;}.padding-r-61{padding-right: 61px;}.padding-r-62{padding-right: 62px;}.padding-r-63{padding-right: 63px;}.padding-r-64{padding-right: 64px;}.padding-r-65{padding-right: 65px;}.padding-r-66{padding-right: 66px;}.padding-r-67{padding-right: 67px;}.padding-r-68{padding-right: 68px;}.padding-r-69{padding-right: 69px;}
.padding-r-7{padding-right: 7px;}.padding-r-70{padding-right: 70px;}.padding-r-71{padding-right: 71px;}.padding-r-72{padding-right: 72px;}.padding-r-73{padding-right: 73px;}.padding-r-74{padding-right: 74px;}.padding-r-75{padding-right: 75px;}.padding-r-76{padding-right: 76px;}.padding-r-77{padding-right: 77px;}.padding-r-78{padding-right: 78px;}.padding-r-79{padding-right: 79px;}
.padding-r-8{padding-right: 8px;}.padding-r-80{padding-right: 80px;}.padding-r-81{padding-right: 81px;}.padding-r-82{padding-right: 82px;}.padding-r-83{padding-right: 83px;}.padding-r-84{padding-right: 84px;}.padding-r-85{padding-right: 85px;}.padding-r-86{padding-right: 86px;}.padding-r-87{padding-right: 87px;}.padding-r-88{padding-right: 88px;}.padding-r-89{padding-right: 89px;}
.padding-r-9{padding-right: 9px;}.padding-r-90{padding-right: 90px;}.padding-r-91{padding-right: 91px;}.padding-r-92{padding-right: 92px;}.padding-r-93{padding-right: 93px;}.padding-r-94{padding-right: 94px;}.padding-r-95{padding-right: 95px;}.padding-r-96{padding-right: 96px;}.padding-r-97{padding-right: 97px;}.padding-r-98{padding-right: 98px;}.padding-r-99{padding-right: 99px;}
.padding-r-100{padding-right: 100px;}

/*=======================================================
      POSITION
========================================================*/
.top-0{top: 0px;}
.top-1{top: 1px;}.top-10{top: 10px;}.top-11{top: 11px;}.top-12{top: 12px;}.top-13{top: 13px;}.top-14{top: 14px;}.top-15{top: 15px;}.top-16{top: 16px;}.top-17{top: 17px;}.top-18{top: 18px;}.top-19{top: 19px;}
.top-2{top: 2px;}.top-20{top: 20px;}.top-21{top: 21px;}.top-22{top: 22px;}.top-23{top: 23px;}.top-24{top: 24px;}.top-25{top: 25px;}.top-26{top: 26px;}.top-27{top: 27px;}.top-28{top: 28px;}.top-29{top: 29px;}
.top-3{top: 3px;}.top-30{top: 30px;}.top-31{top: 31px;}.top-32{top: 32px;}.top-33{top: 33px;}.top-34{top: 34px;}.top-35{top: 35px;}.top-36{top: 36px;}.top-37{top: 37px;}.top-38{top: 38px;}.top-39{top: 39px;}
.top-4{top: 4px;}.top-40{top: 40px;}.top-41{top: 41px;}.top-42{top: 42px;}.top-43{top: 43px;}.top-44{top: 44px;}.top-45{top: 45px;}.top-46{top: 46px;}.top-47{top: 47px;}.top-48{top: 48px;}.top-49{top: 49px;}
.top-5{top: 5px;}.top-50{top: 50px;}.top-51{top: 51px;}.top-52{top: 52px;}.top-53{top: 53px;}.top-54{top: 54px;}.top-55{top: 55px;}.top-56{top: 56px;}.top-57{top: 57px;}.top-58{top: 58px;}.top-59{top: 59px;}
.top-6{top: 6px;}.top-60{top: 60px;}.top-61{top: 61px;}.top-62{top: 62px;}.top-63{top: 63px;}.top-64{top: 64px;}.top-65{top: 65px;}.top-66{top: 66px;}.top-67{top: 67px;}.top-68{top: 68px;}.top-69{top: 69px;}
.top-7{top: 7px;}.top-70{top: 70px;}.top-71{top: 71px;}.top-72{top: 72px;}.top-73{top: 73px;}.top-74{top: 74px;}.top-75{top: 75px;}.top-76{top: 76px;}.top-77{top: 77px;}.top-78{top: 78px;}.top-79{top: 79px;}
.top-8{top: 8px;}.top-80{top: 80px;}.top-81{top: 81px;}.top-82{top: 82px;}.top-83{top: 83px;}.top-84{top: 84px;}.top-85{top: 85px;}.top-86{top: 86px;}.top-87{top: 87px;}.top-88{top: 88px;}.top-89{top: 89px;}
.top-9{top: 9px;}.top-90{top: 90px;}.top-91{top: 91px;}.top-92{top: 92px;}.top-93{top: 93px;}.top-94{top: 94px;}.top-95{top: 95px;}.top-96{top: 96px;}.top-97{top: 97px;}.top-98{top: 98px;}.top-99{top: 99px;}
.top-100{top: 100px;}

.bottom-0{bottom: 0px;}
.bottom-1{bottom: 1px;}.bottom-10{bottom: 10px;}.bottom-11{bottom: 11px;}.bottom-12{bottom: 12px;}.bottom-13{bottom: 13px;}.bottom-14{bottom: 14px;}.bottom-15{bottom: 15px;}.bottom-16{bottom: 16px;}.bottom-17{bottom: 17px;}.bottom-18{bottom: 18px;}.bottom-19{bottom: 19px;}
.bottom-2{bottom: 2px;}.bottom-20{bottom: 20px;}.bottom-21{bottom: 21px;}.bottom-22{bottom: 22px;}.bottom-23{bottom: 23px;}.bottom-24{bottom: 24px;}.bottom-25{bottom: 25px;}.bottom-26{bottom: 26px;}.bottom-27{bottom: 27px;}.bottom-28{bottom: 28px;}.bottom-29{bottom: 29px;}
.bottom-3{bottom: 3px;}.bottom-30{bottom: 30px;}.bottom-31{bottom: 31px;}.bottom-32{bottom: 32px;}.bottom-33{bottom: 33px;}.bottom-34{bottom: 34px;}.bottom-35{bottom: 35px;}.bottom-36{bottom: 36px;}.bottom-37{bottom: 37px;}.bottom-38{bottom: 38px;}.bottom-39{bottom: 39px;}
.bottom-4{bottom: 4px;}.bottom-40{bottom: 40px;}.bottom-41{bottom: 41px;}.bottom-42{bottom: 42px;}.bottom-43{bottom: 43px;}.bottom-44{bottom: 44px;}.bottom-45{bottom: 45px;}.bottom-46{bottom: 46px;}.bottom-47{bottom: 47px;}.bottom-48{bottom: 48px;}.bottom-49{bottom: 49px;}
.bottom-5{bottom: 5px;}.bottom-50{bottom: 50px;}.bottom-51{bottom: 51px;}.bottom-52{bottom: 52px;}.bottom-53{bottom: 53px;}.bottom-54{bottom: 54px;}.bottom-55{bottom: 55px;}.bottom-56{bottom: 56px;}.bottom-57{bottom: 57px;}.bottom-58{bottom: 58px;}.bottom-59{bottom: 59px;}
.bottom-6{bottom: 6px;}.bottom-60{bottom: 60px;}.bottom-61{bottom: 61px;}.bottom-62{bottom: 62px;}.bottom-63{bottom: 63px;}.bottom-64{bottom: 64px;}.bottom-65{bottom: 65px;}.bottom-66{bottom: 66px;}.bottom-67{bottom: 67px;}.bottom-68{bottom: 68px;}.bottom-69{bottom: 69px;}
.bottom-7{bottom: 7px;}.bottom-70{bottom: 70px;}.bottom-71{bottom: 71px;}.bottom-72{bottom: 72px;}.bottom-73{bottom: 73px;}.bottom-74{bottom: 74px;}.bottom-75{bottom: 75px;}.bottom-76{bottom: 76px;}.bottom-77{bottom: 77px;}.bottom-78{bottom: 78px;}.bottom-79{bottom: 79px;}
.bottom-8{bottom: 8px;}.bottom-80{bottom: 80px;}.bottom-81{bottom: 81px;}.bottom-82{bottom: 82px;}.bottom-83{bottom: 83px;}.bottom-84{bottom: 84px;}.bottom-85{bottom: 85px;}.bottom-86{bottom: 86px;}.bottom-87{bottom: 87px;}.bottom-88{bottom: 88px;}.bottom-89{bottom: 89px;}
.bottom-9{bottom: 9px;}.bottom-90{bottom: 90px;}.bottom-91{bottom: 91px;}.bottom-92{bottom: 92px;}.bottom-93{bottom: 93px;}.bottom-94{bottom: 94px;}.bottom-95{bottom: 95px;}.bottom-96{bottom: 96px;}.bottom-97{bottom: 97px;}.bottom-98{bottom: 98px;}.bottom-99{bottom: 99px;}
.bottom-100{bottom: 100px;}

.left-0{left: 0px;}
.left-1{left: 1px;}.left-10{left: 10px;}.left-11{left: 11px;}.left-12{left: 12px;}.left-13{left: 13px;}.left-14{left: 14px;}.left-15{left: 15px;}.left-16{left: 16px;}.left-17{left: 17px;}.left-18{left: 18px;}.left-19{left: 19px;}
.left-2{left: 2px;}.left-20{left: 20px;}.left-21{left: 21px;}.left-22{left: 22px;}.left-23{left: 23px;}.left-24{left: 24px;}.left-25{left: 25px;}.left-26{left: 26px;}.left-27{left: 27px;}.left-28{left: 28px;}.left-29{left: 29px;}
.left-3{left: 3px;}.left-30{left: 30px;}.left-31{left: 31px;}.left-32{left: 32px;}.left-33{left: 33px;}.left-34{left: 34px;}.left-35{left: 35px;}.left-36{left: 36px;}.left-37{left: 37px;}.left-38{left: 38px;}.left-39{left: 39px;}
.left-4{left: 4px;}.left-40{left: 40px;}.left-41{left: 41px;}.left-42{left: 42px;}.left-43{left: 43px;}.left-44{left: 44px;}.left-45{left: 45px;}.left-46{left: 46px;}.left-47{left: 47px;}.left-48{left: 48px;}.left-49{left: 49px;}
.left-5{left: 5px;}.left-50{left: 50px;}.left-51{left: 51px;}.left-52{left: 52px;}.left-53{left: 53px;}.left-54{left: 54px;}.left-55{left: 55px;}.left-56{left: 56px;}.left-57{left: 57px;}.left-58{left: 58px;}.left-59{left: 59px;}
.left-6{left: 6px;}.left-60{left: 60px;}.left-61{left: 61px;}.left-62{left: 62px;}.left-63{left: 63px;}.left-64{left: 64px;}.left-65{left: 65px;}.left-66{left: 66px;}.left-67{left: 67px;}.left-68{left: 68px;}.left-69{left: 69px;}
.left-7{left: 7px;}.left-70{left: 70px;}.left-71{left: 71px;}.left-72{left: 72px;}.left-73{left: 73px;}.left-74{left: 74px;}.left-75{left: 75px;}.left-76{left: 76px;}.left-77{left: 77px;}.left-78{left: 78px;}.left-79{left: 79px;}
.left-8{left: 8px;}.left-80{left: 80px;}.left-81{left: 81px;}.left-82{left: 82px;}.left-83{left: 83px;}.left-84{left: 84px;}.left-85{left: 85px;}.left-86{left: 86px;}.left-87{left: 87px;}.left-88{left: 88px;}.left-89{left: 89px;}
.left-9{left: 9px;}.left-90{left: 90px;}.left-91{left: 91px;}.left-92{left: 92px;}.left-93{left: 93px;}.left-94{left: 94px;}.left-95{left: 95px;}.left-96{left: 96px;}.left-97{left: 97px;}.left-98{left: 98px;}.left-99{left: 99px;}
.left-100{left: 100px;}

.right-0{right: 0px;}
.right-1{right: 1px;}.right-10{right: 10px;}.right-11{right: 11px;}.right-12{right: 12px;}.right-13{right: 13px;}.right-14{right: 14px;}.right-15{right: 15px;}.right-16{right: 16px;}.right-17{right: 17px;}.right-18{right: 18px;}.right-19{right: 19px;}
.right-2{right: 2px;}.right-20{right: 20px;}.right-21{right: 21px;}.right-22{right: 22px;}.right-23{right: 23px;}.right-24{right: 24px;}.right-25{right: 25px;}.right-26{right: 26px;}.right-27{right: 27px;}.right-28{right: 28px;}.right-29{right: 29px;}
.right-3{right: 3px;}.right-30{right: 30px;}.right-31{right: 31px;}.right-32{right: 32px;}.right-33{right: 33px;}.right-34{right: 34px;}.right-35{right: 35px;}.right-36{right: 36px;}.right-37{right: 37px;}.right-38{right: 38px;}.right-39{right: 39px;}
.right-4{right: 4px;}.right-40{right: 40px;}.right-41{right: 41px;}.right-42{right: 42px;}.right-43{right: 43px;}.right-44{right: 44px;}.right-45{right: 45px;}.right-46{right: 46px;}.right-47{right: 47px;}.right-48{right: 48px;}.right-49{right: 49px;}
.right-5{right: 5px;}.right-50{right: 50px;}.right-51{right: 51px;}.right-52{right: 52px;}.right-53{right: 53px;}.right-54{right: 54px;}.right-55{right: 55px;}.right-56{right: 56px;}.right-57{right: 57px;}.right-58{right: 58px;}.right-59{right: 59px;}
.right-6{right: 6px;}.right-60{right: 60px;}.right-61{right: 61px;}.right-62{right: 62px;}.right-63{right: 63px;}.right-64{right: 64px;}.right-65{right: 65px;}.right-66{right: 66px;}.right-67{right: 67px;}.right-68{right: 68px;}.right-69{right: 69px;}
.right-7{right: 7px;}.right-70{right: 70px;}.right-71{right: 71px;}.right-72{right: 72px;}.right-73{right: 73px;}.right-74{right: 74px;}.right-75{right: 75px;}.right-76{right: 76px;}.right-77{right: 77px;}.right-78{right: 78px;}.right-79{right: 79px;}
.right-8{right: 8px;}.right-80{right: 80px;}.right-81{right: 81px;}.right-82{right: 82px;}.right-83{right: 83px;}.right-84{right: 84px;}.right-85{right: 85px;}.right-86{right: 86px;}.right-87{right: 87px;}.right-88{right: 88px;}.right-89{right: 89px;}
.right-9{right: 9px;}.right-90{right: 90px;}.right-91{right: 91px;}.right-92{right: 92px;}.right-93{right: 93px;}.right-94{right: 94px;}.right-95{right: 95px;}.right-96{right: 96px;}.right-97{right: 97px;}.right-98{right: 98px;}.right-99{right: 99px;}
.right-100{right: 100px;}

/*=======================================================
      WIDTH HEIGHT PERCENT
========================================================*/
.width-percent-0{width: 0%;}
.width-percent-1{width: 1%;}.width-percent-10{width: 10%;}.width-percent-11{width: 11%;}.width-percent-12{width: 12%;}.width-percent-13{width: 13%;}.width-percent-14{width: 14%;}.width-percent-15{width: 15%;}.width-percent-16{width: 16%;}.width-percent-17{width: 17%;}.width-percent-18{width: 18%;}.width-percent-19{width: 19%;}
.width-percent-2{width: 2%;}.width-percent-20{width: 20%;}.width-percent-21{width: 21%;}.width-percent-22{width: 22%!important;}.width-percent-23{width: 23%!important;}.width-percent-24{width: 24%;}.width-percent-25{width: 25%;}.width-percent-26{width: 26%;}.width-percent-27{width: 27%;}.width-percent-28{width: 28%;}.width-percent-29{width: 29%;}
.width-percent-3{width: 3%;}.width-percent-30{width: 30%;}.width-percent-31{width: 31%;}.width-percent-32{width: 32%;}.width-percent-33{width: 33%;}.width-percent-34{width: 34%;}.width-percent-35{width: 35%;}.width-percent-36{width: 36%;}.width-percent-37{width: 37%;}.width-percent-38{width: 38%;}.width-percent-39{width: 39%;}
.width-percent-4{width: 4%;}.width-percent-40{width: 40%;}.width-percent-41{width: 41%;}.width-percent-42{width: 42%;}.width-percent-43{width: 43%;}.width-percent-44{width: 44%;}.width-percent-45{width: 45%;}.width-percent-46{width: 46%;}.width-percent-47{width: 47%;}.width-percent-48{width: 48%;}.width-percent-49{width: 49%;}
.width-percent-5{width: 5%;}.width-percent-50{width: 50%;}.width-percent-51{width: 51%;}.width-percent-52{width: 52%;}.width-percent-53{width: 53%;}.width-percent-54{width: 54%;}.width-percent-55{width: 55%;}.width-percent-56{width: 56%;}.width-percent-57{width: 57%;}.width-percent-58{width: 58%;}.width-percent-59{width: 59%;}
.width-percent-6{width: 6%;}.width-percent-60{width: 60%;}.width-percent-61{width: 61%;}.width-percent-62{width: 62%;}.width-percent-63{width: 63%;}.width-percent-64{width: 64%;}.width-percent-65{width: 65%;}.width-percent-66{width: 66%;}.width-percent-67{width: 67%;}.width-percent-68{width: 68%;}.width-percent-69{width: 69%;}
.width-percent-7{width: 7%;}.width-percent-70{width: 70%;}.width-percent-71{width: 71%;}.width-percent-72{width: 72%;}.width-percent-73{width: 73%;}.width-percent-74{width: 74%;}.width-percent-75{width: 75%;}.width-percent-76{width: 76%;}.width-percent-77{width: 77%;}.width-percent-78{width: 78%;}.width-percent-79{width: 79%;}
.width-percent-8{width: 8%;}.width-percent-80{width: 80%;}.width-percent-81{width: 81%;}.width-percent-82{width: 82%;}.width-percent-83{width: 83%;}.width-percent-84{width: 84%;}.width-percent-85{width: 85%;}.width-percent-86{width: 86%;}.width-percent-87{width: 87%;}.width-percent-88{width: 88%;}.width-percent-89{width: 89%;}
.width-percent-9{width: 9%;}.width-percent-90{width: 90%;}.width-percent-91{width: 91%;}.width-percent-92{width: 92%;}.width-percent-93{width: 93%;}.width-percent-94{width: 94%;}.width-percent-95{width: 95%;}.width-percent-96{width: 96%;}.width-percent-97{width: 97%;}.width-percent-98{width: 98%;}.width-percent-99{width: 99%;}
.width-percent-100{width: 100%;}

.height-percent-0{height: 0%;}
.height-percent-1{height: 1%;}.height-percent-10{height: 10%;}.height-percent-11{height: 11%;}.height-percent-12{height: 12%;}.height-percent-13{height: 13%;}.height-percent-14{height: 14%;}.height-percent-15{height: 15%;}.height-percent-16{height: 16%;}.height-percent-17{height: 17%;}.height-percent-18{height: 18%;}.height-percent-19{height: 19%;}
.height-percent-2{height: 2%;}.height-percent-20{height: 20%;}.height-percent-21{height: 21%;}.height-percent-22{height: 22%;}.height-percent-23{height: 23%;}.height-percent-24{height: 24%;}.height-percent-25{height: 25%;}.height-percent-26{height: 26%;}.height-percent-27{height: 27%;}.height-percent-28{height: 28%;}.height-percent-29{height: 29%;}
.height-percent-3{height: 3%;}.height-percent-30{height: 30%;}.height-percent-31{height: 31%;}.height-percent-32{height: 32%;}.height-percent-33{height: 33%;}.height-percent-34{height: 34%;}.height-percent-35{height: 35%;}.height-percent-36{height: 36%;}.height-percent-37{height: 37%;}.height-percent-38{height: 38%;}.height-percent-39{height: 39%;}
.height-percent-4{height: 4%;}.height-percent-40{height: 40%;}.height-percent-41{height: 41%;}.height-percent-42{height: 42%;}.height-percent-43{height: 43%;}.height-percent-44{height: 44%;}.height-percent-45{height: 45%;}.height-percent-46{height: 46%;}.height-percent-47{height: 47%;}.height-percent-48{height: 48%;}.height-percent-49{height: 49%;}
.height-percent-5{height: 5%;}.height-percent-50{height: 50%;}.height-percent-51{height: 51%;}.height-percent-52{height: 52%;}.height-percent-53{height: 53%;}.height-percent-54{height: 54%;}.height-percent-55{height: 55%;}.height-percent-56{height: 56%;}.height-percent-57{height: 57%;}.height-percent-58{height: 58%;}.height-percent-59{height: 59%;}
.height-percent-6{height: 6%;}.height-percent-60{height: 60%;}.height-percent-61{height: 61%;}.height-percent-62{height: 62%;}.height-percent-63{height: 63%;}.height-percent-64{height: 64%;}.height-percent-65{height: 65%;}.height-percent-66{height: 66%;}.height-percent-67{height: 67%;}.height-percent-68{height: 68%;}.height-percent-69{height: 69%;}
.height-percent-7{height: 7%;}.height-percent-70{height: 70%;}.height-percent-71{height: 71%;}.height-percent-72{height: 72%;}.height-percent-73{height: 73%;}.height-percent-74{height: 74%;}.height-percent-75{height: 75%;}.height-percent-76{height: 76%;}.height-percent-77{height: 77%;}.height-percent-78{height: 78%;}.height-percent-79{height: 79%;}
.height-percent-8{height: 8%;}.height-percent-80{height: 80%;}.height-percent-81{height: 81%;}.height-percent-82{height: 82%;}.height-percent-83{height: 83%;}.height-percent-84{height: 84%;}.height-percent-85{height: 85%;}.height-percent-86{height: 86%;}.height-percent-87{height: 87%;}.height-percent-88{height: 88%;}.height-percent-89{height: 89%;}
.height-percent-9{height: 9%;}.height-percent-90{height: 90%;}.height-percent-91{height: 91%;}.height-percent-92{height: 92%;}.height-percent-93{height: 93%;}.height-percent-94{height: 94%;}.height-percent-95{height: 95%;}.height-percent-96{height: 96%;}.height-percent-97{height: 97%;}.height-percent-98{height: 98%;}.height-percent-99{height: 99%;}
.height-percent-100{height: 100%;}
/*=======================================================
      POSITION PERCENT
========================================================*/
.top-percent-0{top: 0%;}
.top-percent-1{top: 1%;}.top-percent-10{top: 10%;}.top-percent-11{top: 11%;}.top-percent-12{top: 12%;}.top-percent-13{top: 13%;}.top-percent-14{top: 14%;}.top-percent-15{top: 15%;}.top-percent-16{top: 16%;}.top-percent-17{top: 17%;}.top-percent-18{top: 18%;}.top-percent-19{top: 19%;}
.top-percent-2{top: 2%;}.top-percent-20{top: 20%;}.top-percent-21{top: 21%;}.top-percent-22{top: 22%;}.top-percent-23{top: 23%;}.top-percent-24{top: 24%;}.top-percent-25{top: 25%;}.top-percent-26{top: 26%;}.top-percent-27{top: 27%;}.top-percent-28{top: 28%;}.top-percent-29{top: 29%;}
.top-percent-3{top: 3%;}.top-percent-30{top: 30%;}.top-percent-31{top: 31%;}.top-percent-32{top: 32%;}.top-percent-33{top: 33%;}.top-percent-34{top: 34%;}.top-percent-35{top: 35%;}.top-percent-36{top: 36%;}.top-percent-37{top: 37%;}.top-percent-38{top: 38%;}.top-percent-39{top: 39%;}
.top-percent-4{top: 4%;}.top-percent-40{top: 40%;}.top-percent-41{top: 41%;}.top-percent-42{top: 42%;}.top-percent-43{top: 43%;}.top-percent-44{top: 44%;}.top-percent-45{top: 45%;}.top-percent-46{top: 46%;}.top-percent-47{top: 47%;}.top-percent-48{top: 48%;}.top-percent-49{top: 49%;}
.top-percent-5{top: 5%;}.top-percent-50{top: 50%;}.top-percent-51{top: 51%;}.top-percent-52{top: 52%;}.top-percent-53{top: 53%;}.top-percent-54{top: 54%;}.top-percent-55{top: 55%;}.top-percent-56{top: 56%;}.top-percent-57{top: 57%;}.top-percent-58{top: 58%;}.top-percent-59{top: 59%;}
.top-percent-6{top: 6%;}.top-percent-60{top: 60%;}.top-percent-61{top: 61%;}.top-percent-62{top: 62%;}.top-percent-63{top: 63%;}.top-percent-64{top: 64%;}.top-percent-65{top: 65%;}.top-percent-66{top: 66%;}.top-percent-67{top: 67%;}.top-percent-68{top: 68%;}.top-percent-69{top: 69%;}
.top-percent-7{top: 7%;}.top-percent-70{top: 70%;}.top-percent-71{top: 71%;}.top-percent-72{top: 72%;}.top-percent-73{top: 73%;}.top-percent-74{top: 74%;}.top-percent-75{top: 75%;}.top-percent-76{top: 76%;}.top-percent-77{top: 77%;}.top-percent-78{top: 78%;}.top-percent-79{top: 79%;}
.top-percent-8{top: 8%;}.top-percent-80{top: 80%;}.top-percent-81{top: 81%;}.top-percent-82{top: 82%;}.top-percent-83{top: 83%;}.top-percent-84{top: 84%;}.top-percent-85{top: 85%;}.top-percent-86{top: 86%;}.top-percent-87{top: 87%;}.top-percent-88{top: 88%;}.top-percent-89{top: 89%;}
.top-percent-9{top: 9%;}.top-percent-90{top: 90%;}.top-percent-91{top: 91%;}.top-percent-92{top: 92%;}.top-percent-93{top: 93%;}.top-percent-94{top: 94%;}.top-percent-95{top: 95%;}.top-percent-96{top: 96%;}.top-percent-97{top: 97%;}.top-percent-98{top: 98%;}.top-percent-99{top: 99%;}
.top-percent-100{top: 100%;}

.bottom-percent-0{bottom: 0%;}
.bottom-percent-1{bottom: 1%;}.bottom-percent-10{bottom: 10%;}.bottom-percent-11{bottom: 11%;}.bottom-percent-12{bottom: 12%;}.bottom-percent-13{bottom: 13%;}.bottom-percent-14{bottom: 14%;}.bottom-percent-15{bottom: 15%;}.bottom-percent-16{bottom: 16%;}.bottom-percent-17{bottom: 17%;}.bottom-percent-18{bottom: 18%;}.bottom-percent-19{bottom: 19%;}
.bottom-percent-2{bottom: 2%;}.bottom-percent-20{bottom: 20%;}.bottom-percent-21{bottom: 21%;}.bottom-percent-22{bottom: 22%;}.bottom-percent-23{bottom: 23%;}.bottom-percent-24{bottom: 24%;}.bottom-percent-25{bottom: 25%;}.bottom-percent-26{bottom: 26%;}.bottom-percent-27{bottom: 27%;}.bottom-percent-28{bottom: 28%;}.bottom-percent-29{bottom: 29%;}
.bottom-percent-3{bottom: 3%;}.bottom-percent-30{bottom: 30%;}.bottom-percent-31{bottom: 31%;}.bottom-percent-32{bottom: 32%;}.bottom-percent-33{bottom: 33%;}.bottom-percent-34{bottom: 34%;}.bottom-percent-35{bottom: 35%;}.bottom-percent-36{bottom: 36%;}.bottom-percent-37{bottom: 37%;}.bottom-percent-38{bottom: 38%;}.bottom-percent-39{bottom: 39%;}
.bottom-percent-4{bottom: 4%;}.bottom-percent-40{bottom: 40%;}.bottom-percent-41{bottom: 41%;}.bottom-percent-42{bottom: 42%;}.bottom-percent-43{bottom: 43%;}.bottom-percent-44{bottom: 44%;}.bottom-percent-45{bottom: 45%;}.bottom-percent-46{bottom: 46%;}.bottom-percent-47{bottom: 47%;}.bottom-percent-48{bottom: 48%;}.bottom-percent-49{bottom: 49%;}
.bottom-percent-5{bottom: 5%;}.bottom-percent-50{bottom: 50%;}.bottom-percent-51{bottom: 51%;}.bottom-percent-52{bottom: 52%;}.bottom-percent-53{bottom: 53%;}.bottom-percent-54{bottom: 54%;}.bottom-percent-55{bottom: 55%;}.bottom-percent-56{bottom: 56%;}.bottom-percent-57{bottom: 57%;}.bottom-percent-58{bottom: 58%;}.bottom-percent-59{bottom: 59%;}
.bottom-percent-6{bottom: 6%;}.bottom-percent-60{bottom: 60%;}.bottom-percent-61{bottom: 61%;}.bottom-percent-62{bottom: 62%;}.bottom-percent-63{bottom: 63%;}.bottom-percent-64{bottom: 64%;}.bottom-percent-65{bottom: 65%;}.bottom-percent-66{bottom: 66%;}.bottom-percent-67{bottom: 67%;}.bottom-percent-68{bottom: 68%;}.bottom-percent-69{bottom: 69%;}
.bottom-percent-7{bottom: 7%;}.bottom-percent-70{bottom: 70%;}.bottom-percent-71{bottom: 71%;}.bottom-percent-72{bottom: 72%;}.bottom-percent-73{bottom: 73%;}.bottom-percent-74{bottom: 74%;}.bottom-percent-75{bottom: 75%;}.bottom-percent-76{bottom: 76%;}.bottom-percent-77{bottom: 77%;}.bottom-percent-78{bottom: 78%;}.bottom-percent-79{bottom: 79%;}
.bottom-percent-8{bottom: 8%;}.bottom-percent-80{bottom: 80%;}.bottom-percent-81{bottom: 81%;}.bottom-percent-82{bottom: 82%;}.bottom-percent-83{bottom: 83%;}.bottom-percent-84{bottom: 84%;}.bottom-percent-85{bottom: 85%;}.bottom-percent-86{bottom: 86%;}.bottom-percent-87{bottom: 87%;}.bottom-percent-88{bottom: 88%;}.bottom-percent-89{bottom: 89%;}
.bottom-percent-9{bottom: 9%;}.bottom-percent-90{bottom: 90%;}.bottom-percent-91{bottom: 91%;}.bottom-percent-92{bottom: 92%;}.bottom-percent-93{bottom: 93%;}.bottom-percent-94{bottom: 94%;}.bottom-percent-95{bottom: 95%;}.bottom-percent-96{bottom: 96%;}.bottom-percent-97{bottom: 97%;}.bottom-percent-98{bottom: 98%;}.bottom-percent-99{bottom: 99%;}
.bottom-percent-100{bottom: 100%;}

.left-percent-0{left: 0%;}
.left-percent-1{left: 1%;}.left-percent-10{left: 10%;}.left-percent-11{left: 11%;}.left-percent-12{left: 12%;}.left-percent-13{left: 13%;}.left-percent-14{left: 14%;}.left-percent-15{left: 15%;}.left-percent-16{left: 16%;}.left-percent-17{left: 17%;}.left-percent-18{left: 18%;}.left-percent-19{left: 19%;}
.left-percent-2{left: 2%;}.left-percent-20{left: 20%;}.left-percent-21{left: 21%;}.left-percent-22{left: 22%;}.left-percent-23{left: 23%;}.left-percent-24{left: 24%;}.left-percent-25{left: 25%;}.left-percent-26{left: 26%;}.left-percent-27{left: 27%;}.left-percent-28{left: 28%;}.left-percent-29{left: 29%;}
.left-percent-3{left: 3%;}.left-percent-30{left: 30%;}.left-percent-31{left: 31%;}.left-percent-32{left: 32%;}.left-percent-33{left: 33%;}.left-percent-34{left: 34%;}.left-percent-35{left: 35%;}.left-percent-36{left: 36%;}.left-percent-37{left: 37%;}.left-percent-38{left: 38%;}.left-percent-39{left: 39%;}
.left-percent-4{left: 4%;}.left-percent-40{left: 40%;}.left-percent-41{left: 41%;}.left-percent-42{left: 42%;}.left-percent-43{left: 43%;}.left-percent-44{left: 44%;}.left-percent-45{left: 45%;}.left-percent-46{left: 46%;}.left-percent-47{left: 47%;}.left-percent-48{left: 48%;}.left-percent-49{left: 49%;}
.left-percent-5{left: 5%;}.left-percent-50{left: 50%;}.left-percent-51{left: 51%;}.left-percent-52{left: 52%;}.left-percent-53{left: 53%;}.left-percent-54{left: 54%;}.left-percent-55{left: 55%;}.left-percent-56{left: 56%;}.left-percent-57{left: 57%;}.left-percent-58{left: 58%;}.left-percent-59{left: 59%;}
.left-percent-6{left: 6%;}.left-percent-60{left: 60%;}.left-percent-61{left: 61%;}.left-percent-62{left: 62%;}.left-percent-63{left: 63%;}.left-percent-64{left: 64%;}.left-percent-65{left: 65%;}.left-percent-66{left: 66%;}.left-percent-67{left: 67%;}.left-percent-68{left: 68%;}.left-percent-69{left: 69%;}
.left-percent-7{left: 7%;}.left-percent-70{left: 70%;}.left-percent-71{left: 71%;}.left-percent-72{left: 72%;}.left-percent-73{left: 73%;}.left-percent-74{left: 74%;}.left-percent-75{left: 75%;}.left-percent-76{left: 76%;}.left-percent-77{left: 77%;}.left-percent-78{left: 78%;}.left-percent-79{left: 79%;}
.left-percent-8{left: 8%;}.left-percent-80{left: 80%;}.left-percent-81{left: 81%;}.left-percent-82{left: 82%;}.left-percent-83{left: 83%;}.left-percent-84{left: 84%;}.left-percent-85{left: 85%;}.left-percent-86{left: 86%;}.left-percent-87{left: 87%;}.left-percent-88{left: 88%;}.left-percent-89{left: 89%;}
.left-percent-9{left: 9%;}.left-percent-90{left: 90%;}.left-percent-91{left: 91%;}.left-percent-92{left: 92%;}.left-percent-93{left: 93%;}.left-percent-94{left: 94%;}.left-percent-95{left: 95%;}.left-percent-96{left: 96%;}.left-percent-97{left: 97%;}.left-percent-98{left: 98%;}.left-percent-99{left: 99%;}
.left-percent-100{left: 100%;}

.right-percent-0{right: 0%;}
.right-percent-1{right: 1%;}.right-percent-10{right: 10%;}.right-percent-11{right: 11%;}.right-percent-12{right: 12%;}.right-percent-13{right: 13%;}.right-percent-14{right: 14%;}.right-percent-15{right: 15%;}.right-percent-16{right: 16%;}.right-percent-17{right: 17%;}.right-percent-18{right: 18%;}.right-percent-19{right: 19%;}
.right-percent-2{right: 2%;}.right-percent-20{right: 20%;}.right-percent-21{right: 21%;}.right-percent-22{right: 22%;}.right-percent-23{right: 23%;}.right-percent-24{right: 24%;}.right-percent-25{right: 25%;}.right-percent-26{right: 26%;}.right-percent-27{right: 27%;}.right-percent-28{right: 28%;}.right-percent-29{right: 29%;}
.right-percent-3{right: 3%;}.right-percent-30{right: 30%;}.right-percent-31{right: 31%;}.right-percent-32{right: 32%;}.right-percent-33{right: 33%;}.right-percent-34{right: 34%;}.right-percent-35{right: 35%;}.right-percent-36{right: 36%;}.right-percent-37{right: 37%;}.right-percent-38{right: 38%;}.right-percent-39{right: 39%;}
.right-percent-4{right: 4%;}.right-percent-40{right: 40%;}.right-percent-41{right: 41%;}.right-percent-42{right: 42%;}.right-percent-43{right: 43%;}.right-percent-44{right: 44%;}.right-percent-45{right: 45%;}.right-percent-46{right: 46%;}.right-percent-47{right: 47%;}.right-percent-48{right: 48%;}.right-percent-49{right: 49%;}
.right-percent-5{right: 5%;}.right-percent-50{right: 50%;}.right-percent-51{right: 51%;}.right-percent-52{right: 52%;}.right-percent-53{right: 53%;}.right-percent-54{right: 54%;}.right-percent-55{right: 55%;}.right-percent-56{right: 56%;}.right-percent-57{right: 57%;}.right-percent-58{right: 58%;}.right-percent-59{right: 59%;}
.right-percent-6{right: 6%;}.right-percent-60{right: 60%;}.right-percent-61{right: 61%;}.right-percent-62{right: 62%;}.right-percent-63{right: 63%;}.right-percent-64{right: 64%;}.right-percent-65{right: 65%;}.right-percent-66{right: 66%;}.right-percent-67{right: 67%;}.right-percent-68{right: 68%;}.right-percent-69{right: 69%;}
.right-percent-7{right: 7%;}.right-percent-70{right: 70%;}.right-percent-71{right: 71%;}.right-percent-72{right: 72%;}.right-percent-73{right: 73%;}.right-percent-74{right: 74%;}.right-percent-75{right: 75%;}.right-percent-76{right: 76%;}.right-percent-77{right: 77%;}.right-percent-78{right: 78%;}.right-percent-79{right: 79%;}
.right-percent-8{right: 8%;}.right-percent-80{right: 80%;}.right-percent-81{right: 81%;}.right-percent-82{right: 82%;}.right-percent-83{right: 83%;}.right-percent-84{right: 84%;}.right-percent-85{right: 85%;}.right-percent-86{right: 86%;}.right-percent-87{right: 87%;}.right-percent-88{right: 88%;}.right-percent-89{right: 89%;}
.right-percent-9{right: 9%;}.right-percent-90{right: 90%;}.right-percent-91{right: 91%;}.right-percent-92{right: 92%;}.right-percent-93{right: 93%;}.right-percent-94{right: 94%;}.right-percent-95{right: 95%;}.right-percent-96{right: 96%;}.right-percent-97{right: 97%;}.right-percent-98{right: 98%;}.right-percent-99{right: 99%;}
.right-percent-100{right: 100%;}


.line-height-0{line-height: 0px;}
.line-height-1{line-height: 1px;}.line-height-10{line-height: 10px;}.line-height-11{line-height: 11px;}.line-height-12{line-height: 17px;}.line-height-13{line-height: 13px;}.line-height-14{line-height: 14px;}.line-height-15{line-height: 15px;}.line-height-16{line-height: 16px;}.line-height-17{line-height: 17px;}.line-height-18{line-height: 18px;}.line-height-19{line-height: 19px;}
.line-height-2{line-height: 2px;}.line-height-20{line-height: 20px;}.line-height-21{line-height: 21px;}.line-height-22{line-height: 22px;}.line-height-23{line-height: 23px;}.line-height-24{line-height: 24px;}.line-height-25{line-height: 25px;}.line-height-26{line-height: 26px;}.line-height-27{line-height: 27px;}.line-height-28{line-height: 28px;}.line-height-29{line-height: 29px;}
.line-height-3{line-height: 3px;}.line-height-30{line-height: 30px;}.line-height-31{line-height: 31px;}.line-height-32{line-height: 32px;}.line-height-33{line-height: 33px;}.line-height-34{line-height: 34px;}.line-height-35{line-height: 35px;}.line-height-36{line-height: 36px;}.line-height-37{line-height: 37px;}.line-height-38{line-height: 38px;}.line-height-39{line-height: 39px;}
.line-height-4{line-height: 4px;}.line-height-40{line-height: 40px;}.line-height-41{line-height: 41px;}.line-height-42{line-height: 42px;}.line-height-43{line-height: 43px;}.line-height-44{line-height: 44px;}.line-height-45{line-height: 45px;}.line-height-46{line-height: 46px;}.line-height-47{line-height: 47px;}.line-height-48{line-height: 48px;}.line-height-49{line-height: 49px;}
.line-height-5{line-height: 5px;}.line-height-50{line-height: 50px;}.line-height-51{line-height: 51px;}.line-height-52{line-height: 52px;}.line-height-53{line-height: 53px;}.line-height-54{line-height: 54px;}.line-height-55{line-height: 55px;}.line-height-56{line-height: 56px;}.line-height-57{line-height: 57px;}.line-height-58{line-height: 58px;}.line-height-59{line-height: 59px;}
.line-height-6{line-height: 6px;}.line-height-60{line-height: 60px;}.line-height-61{line-height: 61px;}.line-height-62{line-height: 62px;}.line-height-63{line-height: 63px;}.line-height-64{line-height: 64px;}.line-height-65{line-height: 65px;}.line-height-66{line-height: 66px;}.line-height-67{line-height: 67px;}.line-height-68{line-height: 68px;}.line-height-69{line-height: 69px;}
.line-height-7{line-height: 7px;}.line-height-70{line-height: 70px;}.line-height-71{line-height: 71px;}.line-height-72{line-height: 72px;}.line-height-73{line-height: 73px;}.line-height-74{line-height: 74px;}.line-height-75{line-height: 75px;}.line-height-76{line-height: 76px;}.line-height-77{line-height: 77px;}.line-height-78{line-height: 78px;}.line-height-79{line-height: 79px;}
.line-height-8{line-height: 8px;}.line-height-80{line-height: 80px;}.line-height-81{line-height: 81px;}.line-height-82{line-height: 82px;}.line-height-83{line-height: 83px;}.line-height-84{line-height: 84px;}.line-height-85{line-height: 85px;}.line-height-86{line-height: 86px;}.line-height-87{line-height: 87px;}.line-height-88{line-height: 88px;}.line-height-89{line-height: 89px;}
.line-height-9{line-height: 9px;}.line-height-90{line-height: 90px;}.line-height-91{line-height: 91px;}.line-height-92{line-height: 92px;}.line-height-93{line-height: 93px;}.line-height-94{line-height: 94px;}.line-height-95{line-height: 95px;}.line-height-96{line-height: 96px;}.line-height-97{line-height: 97px;}.line-height-98{line-height: 98px;}.line-height-99{line-height: 99px;}
.line-height-100{line-height: 100px;}

.font-weight-100{font-weight: 100;}.font-weight-200{font-weight: 200;}.font-weight-300{font-weight: 300;}.font-weight-400{font-weight: 400;}.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}.font-weight-700{font-weight: 700;}.font-weight-800{font-weight: 800};.font-weight-900{font-weight: 900;}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2016, 10:52:31 AM
    Author     : Administrator
*/
/*=======================================================
      			IPAD AND IPAD MINI
========================================================*/


/*==================== PORTRAIT ===================================*/

@media only screen and (max-width: 1024px) 
{
    .full-width-if-reponsive{
        width: 100%
    }
    
}
/*==================== LANDSCAPE===================================*/
@media only screen and (max-width: 768px) {
    .full-width-if-reponsive{
        width: 100%
    }
    
   
}

/*=======================================================
      			IPHONE 4
========================================================*/

/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 320px) {
    .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 480px) {
    .full-width-if-reponsive{
        width: 100%
    } 
}
/*=======================================================
      			IPHONE 5
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 320px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 568px) {
     .full-width-if-reponsive{
        width: 100%
    }
}
/*=======================================================
      			IPHONE 6
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 375px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 736px) {
     .full-width-if-reponsive{
        width: 100%
    }
}
/*=======================================================
      			IPHONE 6 PLUS
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 414px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/
@media only screen and (max-width: 736px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
    
    
}


