
@font-face {
  font-family: 'BankGothicBT-Light';
  src: url('BankGothicBT-Light.eot?#iefix') format('embedded-opentype'),  url('BankGothicBT-Light.woff') format('woff'), url('BankGothicBT-Light.ttf')  format('truetype'), url('BankGothicBT-Light.svg#BankGothicBT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
