/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2016, 10:52:31 AM
    Author     : Administrator
*/


/*=======================================================
      			IPAD AND IPAD MINI
========================================================*/


/*==================== PORTRAIT ===================================*/

@media only screen and (max-width: 1024px) {
{
    .full-width-if-reponsive{
        width: 100%
    }
    
}
@media only screen and (max-width: 1279px) {
	.toggle-slide{
		display:none;
	}
}
/*==================== LANDSCAPE===================================*/
@media only screen and (max-width: 768px) {
	.toggle-slide{
		display:none;
	}
	
    .full-width-if-reponsive{
        width: 100%
    }
    #txt-5 {
        font-size: 15px;
        top: 7px;
    }
    .submit-btn-5{
        top: -7px!important;
    }
    #subscrible_FGI{
        top: -28px;
    }
    #txt-6 {
        font-size: 12px;
        top: 4px;
    }
    #email-homepage{
        width: 200px;
        top:-8px;
    }
    .submit-btn-6{
        padding: 0px 19px 0px 19px;
        top: -25px;
    }
    #sort-by-application{
        font-size: 18px;
    }
    #technical-spec-information{
        font-size: 20px;
    }
    .submit-btn-4{
        font-size: 20px;
    }
    .txt-3{
        margin-left: 0px;
        margin-right: 0px;
    }
    #instagram-2-img{
        top: -205px;
    }
    .txt-4{
        top: 53px;
        font-size: 18px;
        line-height: 12px;
    }
    #bg-10-img{
        height: 55px;
    }
    
   
}

/*=======================================================
      			IPHONE 4
========================================================*/

/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 320px) {
    .full-width-if-reponsive{
        width: 100%
    }
    .txt-2{
        font-size: 5vw;
        width: 95%;
        top: 4px;
    }
    .title-container img{
        width: 95%;
    }
    #news_list li{
        margin-top: -40px;
    }
    #news_list li:first-child{
        margin-top: 0px;
    }
    .submit-btn-3{
        font-size: 9px;
        top: -20px;
        padding: 3px 15px 3px 15px;
    }
    #label img{
        top: 60px;
    }
    #label img{
        top: 60px;
    }
    #label p{
        font-size: 10px;
        color: bisque;
        top: 32px;
    }
    .title_3{
        font-size: 4px;
    }
    .view_more_btn_2{
        font-size: 8px;
        right: 22px;
        bottom: 26px;
    }
    .tab-btn{
        font-size: 8px;
    }
    .tab-btn-click{
        font-size: 8px;
    }
    .submit-btn-2{
        margin-left: 82px;
    }
    #right-content{
        top:50px;
    }
    .footer{
        margin-top: 50px;
    }
    #fgi_live{
        width: 39vw;
        position: absolute;
        top: -50px;
        left: -30px;
    }
    #contact{
        position: relative;
        top: -20px;
        left: 15px;
    }
    #right-info{
        margin-top: 20px;
    }
    .nav{
        float:left!important;
    }
    .navbar-nav{
            margin: 38.5px -15px;
    }
    #left-menu {
        position: relative;
        top: -127px;
        z-index: 3;
        margin-left: 33px;
    }
    
    .title_4{
        position: relative;
        top: -20px;
        left: 0px;
        color: white
    }
    .submit-btn-4 {
        padding: 5px 34px 7px 34px;
        font-size: 9px;
        position: relative;
        top: 66px;
    }
    .title-container {
        position: absolute;
        top: -90px;
        width: 105%;
    }
    .right{
        top: 0px;
    }
    .submit-btn-5 {
       
        top: -115px;
    }
    #email {
        top: -110px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .submit-btn-6 {
        top: -128px;
    }
    #txt-6 {
        top: -100px;
        font-size: 12px;
        max-width: 100%;
    }
    .nav>li {
       width: 198%;
       left: -14px;
    }
    .navbar {
    
        min-height: 25px!important;
        height:auto;
    }
    .navbar-nav {

        margin: 0px!important;
    }
    #container_layer_1 {
        position: absolute;
        top: 99px;
        
    }
    #container_layer_2 {
        position: relative;
        top: 0px;
    }
    .thumb{
        margin-bottom: 10px;
    }
    #right-content-cate {
        top: 55px;
    }
    .thumb-info-2 button{
        font-size: 8px;
        position: relative;
        top: -150px;
        
    }
    #container_layer_3
    {
       position: relative;
       top: 7px;
    }
    #txt-3{
        top: 25px;
        font-size: 12px;
    }
    .thumb-cate
    {
        margin-bottom: 20px;
        margin-left: 35px;
    }
    .thumb-info{
        width: 224px;
    }
    .tab-btn-click {
        padding: 19px 9px 19px 9px;
    }
    .view_more_btn_2 {
        padding: 15px 5px 15px 7px;
    }
    #right-content {
        
        margin-bottom: 30px;
    }
    .form{
        margin-top: 82px;
    }
    #sub_menu_2 {
        width: 104%;
    }
    .txt-4 {
       left: 20%;
    }
    #bg-8-style-1{
        display: none;
    }
    #bg-8-style-2{
        display: none;
    }
    #bg-8-style-3{
        display: none;
    }
    #over-btn{
        left:80px;
    }
    #container_layer_3{
        height: 120px;
    }
    #technical-spec-information {
        top: 105px;
        left: -8px;
        padding: 12px 3px 12px 3px;
        font-size: 14px;
    }
    .navbar-default{
        background-image: none!important;
        background-repeat: no-repeat!important;
        background-position: left;
        background-color: #003a63!important;
        border-radius:0px;
        border: none;
    }
    .txt-3{
        margin-left: 0px;
        margin-right: 0px;
    }
    #trademark {
        top: 80px;
    }
    #info-bottom {
        height: 100px;
        background-position-x: 70px;
        background-position-y: 70px;
    }
    .submit-btn {
        top: 20px;
        font-size: 9px!important;
        padding: 15px 24px 15px 24px;
    }
    #contact-list{
        margin-left: 55px!important;
    }
    .navbar-collapse{
        height: 150px;
    }
    
    
    
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 480px) {
    .full-width-if-reponsive{
        width: 100%
    } 
}
/*=======================================================
      			IPHONE 5
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 320px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 568px) {
     .full-width-if-reponsive{
        width: 100%
    }
}
/*=======================================================
      			IPHONE 6
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 375px) {
     .full-width-if-reponsive{
        width: 100%
    }
    #news_list li{
        margin-top: -40px;
    }
    #news_list li:first-child{
        margin-top: 0px;
    }
}
/*==================== LANDSCAPE===================================*/

@media only screen and (max-width: 736px) {
     .full-width-if-reponsive{
        width: 100%
    }
}
/*=======================================================
      			IPHONE 6 PLUS
========================================================*/
/*==================== PORTRAIT===================================*/
@media only screen and (max-width: 414px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
}
/*==================== LANDSCAPE===================================*/
@media only screen and (max-width: 736px) {
     .full-width-if-reponsive{
        width: 100%
    }
    
    
    
    
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 1000px!important;
    }
    .dropdown:hover  .dropdown-toggle{
        padding-top: 0px!important;
        position: relative;
        top:15px
    }
    .dropdown:hover .dropdown-menu{
        margin-top: 0px!important;
    }
}

