
#publication,.publication-container.mobile{position:fixed;width:100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none
}
#publication,.publication-container.mobile.cookie-notice{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column
}
.publication-container.mobile.cookie-notice{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1
}
.publication-container.mobile .inner-container{position:absolute;top:0;right:0;bottom:0;left:0
}
.publication-container.mobile.cookie-notice .inner-container{position:relative;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2
}
.publication-container.mobile .main-frame{position:absolute;z-index:1;top:0;right:0;bottom:0;left:0;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:opacity .5s,all .3s;transition:opacity .5s,all .3s;-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1
}
.publication-container.mobile.resizing .banner-notice,.publication-container.mobile.resizing .main-frame{-webkit-transition:opacity 0ms;transition:opacity 0ms;opacity:0
}
.publication-container.mobile .rotate-indicator{position:fixed;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)
}
.bottom-bar-mobile,.top-bar-mobile{position:absolute;z-index:100;width:100%;opacity:1;-webkit-transform:translateZ(10px);transform:translateZ(10px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap
}
.top-bar-mobile{top:0
}
.bottom-bar-mobile{bottom:0
}
.bars-fade-enter-active,.bars-fade-leave-active{-webkit-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out
}
.bars-fade-enter,.bars-fade-leave-to{opacity:0
}
.top-bar-mobile .title{z-index:-10;top:0;float:left;overflow:hidden;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center;white-space:nowrap;text-overflow:ellipsis
}
.svg-menu-button{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.svg-icon{margin:auto
}
.bottom-bar-mobile .thumbnails-button,.top-bar-mobile .menu-button{left:0;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0
}
.top-bar-mobile .search-button{right:0;-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0
}
.bottom-bar-mobile .icon-button,.top-bar-mobile .icon-button{display:block;float:left;text-align:center
}
.bottom-bar-mobile .pager-mobile{top:0;text-align:left;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap
}
.bottom-bar-mobile .logo-touch{right:0;-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3;-ms-flex-negative:0;flex-shrink:0;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0
}
.bottom-bar-mobile .logo{display:block;text-decoration:none
}
.font-loader{position:absolute;top:-5000px;left:-5000px;display:block
}
.publication-container.mobile.panel-left .main-frame,.publication-container.mobile.sidebar-left .main-frame{-webkit-transform:translate3d(100vw,0,0);transform:translate3d(100vw,0,0)
}
.publication-container.mobile.panel-right .main-frame,.publication-container.mobile.sidebar-right .main-frame{-webkit-transform:translate3d(-100vw,0,0);transform:translate3d(-100vw,0,0)
}
.publication-container.mobile .tool-window{position:absolute;top:0;bottom:0;left:0;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-negative:0;flex-shrink:0
}
.publication-container.mobile .tool-window.v-enter-active,.publication-container.mobile .tool-window.v-leave-active{-webkit-transition:all .3s;transition:all .3s
}
.publication-container.mobile .tool-window.panel-right,.publication-container.mobile .tool-window.sidebar-right{right:0;left:auto
}
.publication-container.mobile .tool-title{width:100%;text-align:center
}
.publication-container.mobile .tool-title:before{display:none
}
.publication-container.mobile .tool-title-frame .close-button{position:absolute;display:none
}
.publication-container.mobile.panel-right .tool-title-frame .close-button,.publication-container.mobile.sidebar-right .tool-title-frame .close-button{left:0;-webkit-transform:rotate(90deg);transform:rotate(90deg);display:-webkit-box;display:-ms-flexbox;display:flex
}
.publication-container.mobile.panel-left .tool-title-frame .close-button,.publication-container.mobile.sidebar-left .tool-title-frame .close-button{right:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);display:-webkit-box;display:-ms-flexbox;display:flex
}
.publication-container.mobile .search-input-block input{width:100%;vertical-align:center;-webkit-appearance:none;-moz-appearance:none
}
.publication-container.mobile .search-input-block label{padding:0
}
.publication-container.mobile .search-input-block .search-icon{position:absolute;float:none
}
.publication-container.mobile .search-input-block .clear-icon{position:relative;float:right
}
.publication-container.mobile .search-results-count{display:block;width:100%;text-align:center
}
.publication-container.mobile .search-live-preloader{float:none;margin:auto
}
.publication-container.mobile li.search-item{list-style-type:none
}
.publication-container.mobile .search-item-title{font-weight:800;display:inline-block;width:100%
}
.publication-container.mobile .search-item-result{display:inline-block;width:100%
}
.publication-container.mobile .toc-item-p{-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.publication-container.mobile .toc-item-title{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2
}
.publication-container.mobile li.toc-item{list-style-type:none
}
.publication-container.mobile .toc-item .icon{float:left;-ms-flex-negative:0;flex-shrink:0;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;text-align:left
}
.publication-container.mobile .toc-item .page-label{float:right;-ms-flex-negative:0;flex-shrink:0;-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3;text-align:right
}
.publication-container.mobile .download-header{text-align:center
}
.publication-container.mobile .download-header .arrow{position:absolute;right:0
}
.publication-container.mobile .download-header .arrow svg{-webkit-transition-duration:.25s;transition-duration:.25s
}
.publication-container.mobile .download-header .arrow.closed svg{-webkit-transform:rotate(180deg);transform:rotate(180deg)
}
.publication-container.mobile .downloads{-webkit-transition-duration:.3s;transition-duration:.3s;position:relative;left:0;right:0;bottom:0
}
.publication-container.mobile .download-item{position:relative;list-style:none
}
.publication-container.mobile .download-item a{display:-webkit-box;display:-ms-flexbox;display:flex
}
.publication-container.mobile .download-item .download-icon{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1
}
.publication-container.mobile .download-items{overflow:auto;position:relative;width:100%;max-height:180px;list-style-type:none
}
.publication-container.mobile .download-item.custom{-webkit-transition:all 1s;transition:all 1s
}
.publication-container.mobile .download-title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:100%;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1
}
.publication-container.mobile .download-size{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3;-ms-flex-negative:0;flex-shrink:0
}
.publication-container.mobile .single .th-item-wrapper:first-child,.publication-container.mobile .single .th-item-wrapper:last-child{padding:0;padding:initial
}
.publication-container.mobile .single .th-item-wrapper .gradient{display:none
}
.publication-container.mobile .th-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around
}
.th-item-title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap
}
.publication-container.mobile .content .play-button{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)
}
.publication-container.mobile .content .content-element:hover .play-button{opacity:.7
}
.publication-container.mobile .content .play-button.highlighted,.publication-container.mobile .highlighted .content .play-button{opacity:.9
}
.publication-container.mobile .tapped .content a.link:hover{-webkit-transition:opacity .1s ease-in-out;transition:opacity .1s ease-in-out;opacity:.5
}

#publication,.publication-container.mobile{font-family:HelveticaNeue-CondensedBold,Open Sans,Helvetica,Arial,sans-serif;font-weight:600;background-color:#f3f3f6
}
.publication-container.mobile .main-frame{background-color:#f3f3f6
}
.publication-container.mobile .bottom-bar-mobile,.publication-container.mobile .top-bar-mobile{color:#596168;background-color:#f3f3f6;fill:#596168;border-color:#c9ced2!important
}
.publication-container.mobile .tool-window{color:#596168;background-color:#f3f3f6
}
.publication-container.mobile .tool-window .tool-title-frame .close-button svg{fill:#596168
}
.publication-container.mobile .tool-title-frame{background-color:#f3f3f6;border-color:#c9ced2!important
}
.publication-container.mobile .tool-title{color:#596168
}
.publication-container.mobile .iScrollIndicator{border-color:hsla(240,2%,74%,.9)!important;background-color:hsla(0,0%,100%,.5)!important
}
.publication-container.mobile .search-input-block input{font-family:HelveticaNeue-CondensedBold,Open Sans,Helvetica,Arial,sans-serif;color:#596168;border:0;background-color:#fff
}
.publication-container.mobile .search-input-block input::-webkit-input-placeholder{color:#bababa
}
.publication-container.mobile .search-input-block input:-ms-input-placeholder,.publication-container.mobile .search-input-block input::-ms-input-placeholder{color:#bababa
}
.publication-container.mobile .search-input-block input::placeholder{color:#bababa
}
.publication-container.mobile .search-input-block .clear-icon,.publication-container.mobile .search-input-block .search-icon{fill:#bababa
}
.publication-container.mobile li.search-item{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile li.search-item:last-child{border-bottom:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile .search-item b{font-weight:800
}
.publication-container.mobile .search-item-title{text-transform:uppercase;color:#8791a5
}
.publication-container.mobile .search-item-p{color:#596168
}
.publication-container.mobile .search-item-result b{color:#000
}
.publication-container.mobile li.toc-item{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile li.toc-item:first-child{border-top:none
}
.publication-container.mobile li.toc-item:last-child{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile .toc-item .page-label{color:rgba(64,64,64,.6)
}
.publication-container.mobile .th-spread-wrapper,.publication-container.mobile .th-wrapper>.th-item-wrapper,.slide .th-img-element{outline:1px solid rgba(0,0,0,.2)
}
.publication-container.mobile .onscroll .th-spread-wrapper,.publication-container.mobile .onscroll .th-wrapper>.th-item-wrapper{outline:1px solid rgba(0,0,0,.08)
}
.publication-container.mobile .slide .th-spread-wrapper{outline:none
}
.publication-container.mobile .th-spread-wrapper.active,.th-item-wrapper.active .th-img-element{outline:4px solid #4a90e2
}
.publication-container.mobile .th-item-title{font-weight:600;color:rgba(0,0,0,.7)
}
.publication-container.mobile .download-header{color:#596168;border-color:#c9ced2!important
}
.publication-container.mobile .downloads{background-color:#f3f3f6
}
.publication-container.mobile .download-header .arrow svg,.publication-container.mobile .download-item .download-icon svg{fill:#596168
}
.publication-container.mobile li.download-item{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile li.download-item a{text-decoration:none;color:#596168
}
.publication-container.mobile .download-size{color:rgba(64,64,64,.6)
}
.publication-container.mobile .svg-logo{fill:#596168
}

.bottom-bar-mobile,.top-bar-mobile{height:44px;line-height:44px
}
.publication-container.mobile .top-bar-mobile{border-bottom:1px solid
}
.publication-container.mobile .bottom-bar-mobile{border-top:1px solid
}
.publication-container .book-container{margin:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
}
.publication-container .banner-notice{min-height:40px
}
.publication-container.mobile .banner-notice .notice-text{padding:8px 12px;font-size:12px;line-height:16px
}
.publication-container .banner-notice .close-icon{height:24px;width:24px;padding:8px
}
.top-bar-mobile .title{font-size:16px;left:70px;width:calc(100% - 140px);height:44px
}
.svg-menu-button{width:44px;height:44px
}
.bottom-bar-mobile .icon-button,.top-bar-mobile .icon-button{font-size:32px;line-height:44px;width:44px;height:44px
}
.bottom-bar-mobile .thumbnails-button,.top-bar-mobile .menu-button{padding-left:env(safe-area-inset-left)
}
.top-bar-mobile .search-button{padding-right:env(safe-area-inset-right)
}
.bottom-bar-mobile .pager-mobile{font-size:16px;left:44px;height:44px
}
.bottom-bar-mobile .logo{width:130px;height:44px;padding-right:env(safe-area-inset-right)
}
.bottom-bar-mobile .logo svg{width:110px;height:36px;padding:0 10px
}
.mobile-right-arrow{padding-right:env(safe-area-inset-right)
}
.mobile-left-arrow{padding-left:env(safe-area-inset-left)
}
.publication-container.mobile .tool-title-frame{height:44px;line-height:44px;border-bottom:1px solid
}
.publication-container.mobile .tool-title{font-size:16px;line-height:44px
}
.publication-container.mobile .tool-title-frame .close-button{font-size:32px;line-height:44px;width:44px;height:44px
}
.publication-container.mobile.panel-right .tool-title-frame .close-button,.publication-container.mobile.sidebar-right .tool-title-frame .close-button{margin-left:env(safe-area-inset-left)
}
.publication-container.mobile.panel-left .tool-title-frame .close-button,.publication-container.mobile.sidebar-left .tool-title-frame .close-button,.publication-container.mobile .tool-window .iScrollVerticalScrollbar{margin-right:env(safe-area-inset-right)
}
.publication-container.mobile .tool-header{height:80px
}
.publication-container.mobile .search-input-block{padding:5px 7px;height:44px;max-width:600px;margin:0 auto
}
.publication-container.mobile .search-input-block label{padding-top:5px
}
.publication-container.mobile .search-input-block input{border-radius:18px;text-indent:36px;line-height:normal;height:36px;font-size:14px
}
.publication-container.mobile .search-input-block .search-icon{line-height:36px;height:36px;width:36px;margin:0
}
.publication-container.mobile .search-input-block .clear-icon{line-height:36px;height:36px;width:36px;right:0
}
.publication-container.mobile .search-input-block .search-icon svg{margin:9px
}
.publication-container.mobile .search-input-block .clear-icon svg{margin:10px
}
.publication-container.mobile .search-results-count{font-size:14px;padding:5px
}
.publication-container.mobile li.search-item{max-width:600px;margin:0 auto
}
.publication-container.mobile .search-item-p{padding:10px 20px;line-height:18px;font-size:12px
}
.publication-container.mobile .search-item-title{padding-bottom:5px
}
.publication-container.mobile ul.toc-items{max-width:600px;margin:0 auto
}
.publication-container.mobile .toc-item .icon{width:22px;height:44px;line-height:44px
}
.publication-container.mobile .toc-item .page-label{height:44px;line-height:44px;font-size:15px;padding:0 10px 0 25px
}
.publication-container.mobile .toc-item .icon{padding-left:5px
}
.publication-container.mobile .toc-item .icon:before{width:44px;height:44px;font-size:22px;line-height:44px
}
.publication-container.mobile .toc-item-title{padding-left:10px;line-height:20px;font-size:16px
}
.publication-container.mobile .additional-padding .toc-item-title{padding-left:29px
}
.publication-container.mobile .haschildren .toc-item-title{padding-left:2px
}
.publication-container.mobile .download-header{height:44px;line-height:44px;font-size:16px;border-top:1px solid
}
.publication-container.mobile .download-header .arrow{height:44px;width:44px;margin-right:env(safe-area-inset-right)
}
.publication-container.mobile .download-header .arrow svg{padding:6px
}
.publication-container.mobile .download-item{height:44px;line-height:44px
}
.publication-container.mobile .download-item .download-icon .svg-icon{height:16px;width:16px;padding:14px 7px
}
.publication-container.mobile .download-title{left:44px
}
.publication-container.mobile .download-size{padding:0 10px 0 25px
}
.publication-container.mobile .download-item{max-height:180px;max-width:600px;margin:0 auto
}
.publication-container.mobile #download-scroller{max-height:180px
}
.publication-container.mobile .single .th-item-wrapper,.publication-container.mobile .th-spread-wrapper{margin:20px 10px
}
.publication-container.mobile .th-wrapper{padding:5px 10px 15px;padding:max(5px,env(safe-area-inset-top)) max(10px,env(safe-area-inset-right)) max(15px,env(safe-area-inset-bottom)) max(10px,env(safe-area-inset-left))
}
.publication-container.mobile .th-item-title{font-size:13px;padding:6px 0 12px
}
@media (min-width:768px) and (min-height:768px){
.publication-container.mobile li.toc-item{min-height:60px
}
.publication-container.mobile .toc-item .icon{height:60px;line-height:60px
}
.publication-container.mobile .toc-item .icon:before{height:60px;font-size:30px;line-height:60px
}
.publication-container.mobile .toc-item .page-label{height:60px;line-height:60px;font-size:15px
}
.publication-container.mobile .toc-item-title{line-height:20px;font-size:15px
}
}

.publication-container.desktop .book-container{position:relative;-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2
}
.publication-container.mobile .book-container{position:absolute;top:0;right:0;bottom:0;left:0
}
.publication-container.flat .book-container{width:100%;height:100%
}

.flip-book{top:0;right:0;bottom:0;left:0;width:100%;height:100%
}
.book,.book-holder,.flip-book{position:absolute
}
.book{opacity:1;-webkit-perspective:5000px;perspective:5000px
}
.full-sdw,.lft-sdw .z1,.rgt-sdw .z1{-webkit-box-shadow:0 2px 10px 0 #aaa;box-shadow:0 2px 10px 0 #aaa
}
.page-flip-container{position:absolute;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff
}
.mask{position:absolute;opacity:1
}
.mask.work{z-index:100;overflow:hidden
}
.flip-grad{position:absolute
}
.vis{display:block
}
.left{left:0
}
.work .right{left:auto
}
.zindex{z-index:-1
}
.reflex-container{position:absolute;z-index:75;overflow:hidden
}
.inner-reflex,.inner-reflex-bottom{position:absolute
}
.reflex-container2{position:absolute;overflow:hidden;-webkit-transition-property:width
}
.lft-sdw .reflex-container2{visibility:hidden
}
.z1{z-index:1
}
.z2{z-index:2
}
.z3{z-index:3
}
.z4{z-index:4
}
.reflex-first:before,.reflex-left:before,.reflex-right:before{position:absolute;z-index:10000;content:"";pointer-events:none;-ms-touch-action:none;touch-action:none
}
.reflex-left:before{right:0
}
.reflex-first:before,.reflex-right:before{left:0
}
.gradient-zero.reflex-left:before{opacity:0
}
.gradient-light.reflex-left:before{background:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.04)),color-stop(16%,hsla(0,0%,100%,.05)),color-stop(18%,hsla(0,0%,100%,.05)),to(transparent));background:linear-gradient(270deg,rgba(0,0,0,.04),hsla(0,0%,100%,.05) 16%,hsla(0,0%,100%,.05) 18%,transparent);background:-webkit-linear-gradient(right,rgba(0,0,0,.04),hsla(0,0%,100%,.05) 16%,hsla(0,0%,100%,.05) 18%,transparent)
}
.gradient-middle.reflex-left:before{background:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.08)),color-stop(16%,hsla(0,0%,100%,.1)),color-stop(18%,hsla(0,0%,100%,.1)),to(transparent));background:linear-gradient(270deg,rgba(0,0,0,.08),hsla(0,0%,100%,.1) 16%,hsla(0,0%,100%,.1) 18%,transparent);background:-webkit-linear-gradient(right,rgba(0,0,0,.08),hsla(0,0%,100%,.1) 16%,hsla(0,0%,100%,.1) 18%,transparent)
}
.gradient-dark.reflex-left:before{background:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.18)),color-stop(16%,hsla(0,0%,100%,.2)),color-stop(18%,hsla(0,0%,100%,.2)),to(transparent));background:linear-gradient(270deg,rgba(0,0,0,.18),hsla(0,0%,100%,.2) 16%,hsla(0,0%,100%,.2) 18%,transparent);background:-webkit-linear-gradient(right,rgba(0,0,0,.18),hsla(0,0%,100%,.2) 16%,hsla(0,0%,100%,.2) 18%,transparent)
}
.gradient-max.reflex-left:before{background:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.27)),color-stop(16%,hsla(0,0%,100%,.3)),color-stop(18%,hsla(0,0%,100%,.3)),to(transparent));background:linear-gradient(270deg,rgba(0,0,0,.27),hsla(0,0%,100%,.3) 16%,hsla(0,0%,100%,.3) 18%,transparent);background:-webkit-linear-gradient(right,rgba(0,0,0,.27),hsla(0,0%,100%,.3) 16%,hsla(0,0%,100%,.3) 18%,transparent)
}
.gradient-zero.reflex-right:before{opacity:0
}
.gradient-light.reflex-right:before{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.05)),color-stop(15%,hsla(0,0%,100%,.03)),color-stop(16%,hsla(0,0%,100%,.03)),to(transparent));background:linear-gradient(90deg,rgba(0,0,0,.05),hsla(0,0%,100%,.03) 15%,hsla(0,0%,100%,.03) 16%,transparent);background:-webkit-linear-gradient(left,rgba(0,0,0,.05),hsla(0,0%,100%,.03) 15%,hsla(0,0%,100%,.03) 16%,transparent)
}
.gradient-middle.reflex-right:before{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.1)),color-stop(15%,hsla(0,0%,100%,.06)),color-stop(16%,hsla(0,0%,100%,.06)),to(transparent));background:linear-gradient(90deg,rgba(0,0,0,.1),hsla(0,0%,100%,.06) 15%,hsla(0,0%,100%,.06) 16%,transparent);background:-webkit-linear-gradient(left,rgba(0,0,0,.1),hsla(0,0%,100%,.06) 15%,hsla(0,0%,100%,.06) 16%,transparent)
}
.gradient-dark.reflex-right:before{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.2)),color-stop(15%,hsla(0,0%,100%,.12)),color-stop(16%,hsla(0,0%,100%,.12)),to(transparent));background:linear-gradient(90deg,rgba(0,0,0,.2),hsla(0,0%,100%,.12) 15%,hsla(0,0%,100%,.12) 16%,transparent);background:-webkit-linear-gradient(left,rgba(0,0,0,.2),hsla(0,0%,100%,.12) 15%,hsla(0,0%,100%,.12) 16%,transparent)
}
.gradient-max.reflex-right:before{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.31)),color-stop(15%,hsla(0,0%,100%,.19)),color-stop(16%,hsla(0,0%,100%,.19)),to(transparent));background:linear-gradient(90deg,rgba(0,0,0,.31),hsla(0,0%,100%,.19) 15%,hsla(0,0%,100%,.19) 16%,transparent);background:-webkit-linear-gradient(left,rgba(0,0,0,.31),hsla(0,0%,100%,.19) 15%,hsla(0,0%,100%,.19) 16%,transparent)
}
.page-flip-container.bottom{display:none
}
.work .page-flip-container.bottom{display:block
}
.flip-grad{display:none
}
.work .bottom .flip-grad{display:block
}
.reflex-container2{display:none
}
.work .reflex-container2{display:block
}
.debug-canvas{position:absolute;z-index:-100;top:0;left:0
}
.layer1{z-index:60
}
.layer2{z-index:70
}
.layer3{z-index:80
}
.page-flip-container.break{display:none
}
.hard-mask{position:absolute;-webkit-transform-origin:100% 100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d
}
.hard-mask.right{-webkit-transform-origin:0 0
}
.hard-back,.hard-front{position:absolute;top:0;left:0;-webkit-backface-visibility:hidden;backface-visibility:hidden
}
.hard-front{z-index:2;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)
}
.hard-back{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)
}
.action.hard-mask.right{-webkit-box-shadow:30px 0 30px -17px rgba(0,0,0,.3);box-shadow:30px 0 30px -17px rgba(0,0,0,.3)
}
.action.hard-mask{-webkit-box-shadow:-30px 0 30px -17px rgba(0,0,0,.3);box-shadow:-30px 0 30px -17px rgba(0,0,0,.3)
}
.inner-reflex-mask{position:absolute;overflow:hidden
}
.inner-reflex-mask.last{left:0
}
.last .inner-reflex{margin-left:0
}
.reflex-first:before,.reflex-left:before,.reflex-right:before{-webkit-transition:opacity .1s ease-out;transition:opacity .1s ease-out;opacity:1
}
.book-stopped .reflex-first:before,.book-stopped .reflex-left:before,.book-stopped .reflex-right:before{-webkit-transition:opacity 0s;transition:opacity 0s;opacity:0
}
.book-stopped .layer2,.book-stopped .reflex-container,.book-stopped .z2,.book-stopped .z3{display:none
}
.inner-reflex-bottom{will-change:transform,background
}
.layer3,.layer3>div{will-change:transform
}
.layer3 .flip-grad,.layer3 .inner-reflex{will-change:transform,background
}

.page{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;margin:auto
}
.page .background,.page .preloader-th{overflow:hidden
}
.page .background,.page .background img,.page .preloader-th,.page .preloader-th img{position:absolute;width:100%;height:100%
}
.page .content{margin:auto
}
.page .content,.page .content>div{position:absolute
}
.page.bordered{right:-1px;bottom:-1px;overflow:visible;border:1px solid rgba(39,47,55,.1)
}
.page.bordered,.page.bordered>.background{top:-1px;left:-1px;-webkit-box-sizing:content-box;box-sizing:content-box
}
.page.bordered>.background{border:1px solid #979797
}
.page .page-preloader{position:absolute;z-index:2;width:100%;height:100%;pointer-events:none
}
.page .preloader-th{z-index:1
}
.page .preloader-container{position:absolute;z-index:2;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);direction:ltr
}
.page.unready .page-preloader .preloader-bg{width:90px;height:90px;margin:auto;background:url(./css/img/page-unready_55dd142.gif) no-repeat 50%;background-size:contain
}
.page.error .page-preloader .preloader-bg{width:83px;height:63px;margin:auto;background:url(./css/img/page-error_023a46d.png) no-repeat 50%;background-size:contain
}
.page.unready .page-preloader .preloader-text{font-size:12px;line-height:17px;max-width:275px;text-align:center
}
.page.unready .page-preloader .preloader-text.light{color:#ecf0f1
}
.page.unready .page-preloader .preloader-text.dark{color:#354353
}
.page.error .page-preloader .preloader-header{font-size:14px;font-weight:600;min-width:120px;margin:10px;text-align:center
}
.page.error .page-preloader .preloader-text{font-size:12px;max-width:275px;text-align:center
}
.page.error.dark .page-preloader .preloader-header,.page.error.dark .page-preloader .preloader-text{color:#ecf0f1
}
.page.error.light .page-preloader .preloader-header,.page.error.light .page-preloader .preloader-tex{color:#354353
}
.page.thumb.error .page-preloader .preloader-bg,.page.thumb.loading .page-preloader .preloader-animation,.page.thumb.loading .page-preloader .preloader-bg,.page.thumb.unready .page-preloader .preloader-bg{background-size:50%
}
.page.thumb .page-preloader .preloader-header,.page.thumb .page-preloader .preloader-text{display:none
}
.page .highlights{position:absolute
}
.page .highlights div{position:absolute;opacity:.6
}
.static-book .fade-enter-active,.static-book .fade-leave-active{-webkit-transition:opacity .5s;transition:opacity .5s
}
.static-book .fade-enter,.static-book .fade-leave-to{opacity:0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
.page.unready .page-preloader .preloader-bg{width:180px;height:180px
}
.page.error .page-preloader .preloader-bg{width:166px;height:126px
}
.page.unready .page-preloader .preloader-text{font-size:24px;line-height:34px;max-width:550px
}
.page.error .page-preloader .preloader-header{font-size:28px;min-width:240px;margin:20px
}
.page.error .page-preloader .preloader-text{font-size:24px;max-width:550px
}
}

.content .block{opacity:0
}

.content .content-element .thumbnail{position:absolute;width:100%;height:100%;-webkit-transform:scale(1);transform:scale(1);background-repeat:no-repeat;background-position:50%;background-size:cover
}
.static-book .content .content-element .thumbnail{-webkit-transition:-webkit-transform .5s ease-in-out;transition:-webkit-transform .5s ease-in-out;transition:transform .5s ease-in-out;transition:transform .5s ease-in-out,-webkit-transform .5s ease-in-out
}
.content .play-button{position:absolute;z-index:1;top:50%;left:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:51px;height:51px;cursor:pointer;-webkit-transform:translate(-50%,-50%) scale(.9);transform:translate(-50%,-50%) scale(.9);opacity:.7;border-radius:50%;background-color:#272f37
}
.static-book .content .play-button{-webkit-transition:opacity .3s ease-in-out,-webkit-transform .15s ease-in-out;transition:opacity .3s ease-in-out,-webkit-transform .15s ease-in-out;transition:opacity .3s ease-in-out,transform .15s ease-in-out;transition:opacity .3s ease-in-out,transform .15s ease-in-out,-webkit-transform .15s ease-in-out
}
.content .play-button .svg-icon,.content .play-button svg{width:100%;height:100%
}
.content .play-button.hidden{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity:0
}
.content-element.highlighted .play-button,.content .play-button.highlighted,.desktop .content .content-element:hover .play-button,.highlighted .content .play-button{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity:.8
}

.content a.link{display:block;width:100%;height:100%;cursor:pointer;opacity:0
}
.book-holder .content a.link{display:none
}
.book-holder.static-book .content a.link{display:block;will-change:opacity;-webkit-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out
}
.desktop .content a.link.hover:hover{opacity:.7
}
.content a.link.highlighted,.highlighted .content a.link.flip{opacity:.5
}

.content .image{z-index:1
}
.touch-preventer-full{position:absolute;z-index:2;top:0;width:100%;height:100%
}

.modal-window-overlay{position:fixed;z-index:1;top:0;left:0;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:100vh;opacity:1;background:rgba(0,0,0,.9)
}
.modal-window-background-click{width:100%;min-height:100%;padding-bottom:10px
}
.modal-window{position:absolute;padding:0;-webkit-box-shadow:0 20px 60px -2px rgba(27,33,58,.4);box-shadow:0 20px 60px -2px rgba(27,33,58,.4)
}
.overlay-enter-active,.overlay-leave-active{-webkit-transition:opacity .5s;transition:opacity .5s
}
.overlay-enter,.overlay-leave-active{opacity:0
}
.modal-enter-active,.modal-leave-active{-webkit-transition:opacity .5s;transition:opacity .5s
}
.modal-enter,.modal-leave-active{opacity:0
}
.modal-window .modal-preloader{position:absolute;top:50%;left:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:64px;height:64px;-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);pointer-events:none;border-radius:50%;background-color:rgba(0,0,0,.3)
}

.content .gallery{opacity:.7;color:#fff;background-color:#999
}

.content .gif.autoplay .play-button,.content .gif.ended .play-button,.content .gif.loading .play-button,.content .gif.loading:hover .play-button,.content .gif.playing .play-button,.content .gif.playing:hover .play-button{opacity:0!important
}
.content .gif .image{position:absolute;overflow:hidden;width:100%;height:100%
}
.content .gif .image img,.content .gif .preloader{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}
.content .gif .preloader{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:32px;height:32px;pointer-events:none;background-color:rgba(0,0,0,.3)
}
.content .gif .preloader,.content .gif .replay{-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;opacity:0;border-radius:50%
}
.content .gif .replay{position:absolute;right:7px;bottom:7px;width:20px;height:20px;padding:5px;z-index:1;background-color:rgba(0,0,0,.5)
}
.content .gif.ended .replay{display:block;opacity:.7
}
.content .gif.ended:hover .replay{cursor:pointer;opacity:1
}
.content .gif .replay svg{width:100%;height:100%;fill:#fff
}
.content .gif.playing .thumbnail{opacity:0
}
.static-book .content .gif.playing .thumbnail{-webkit-transition:opacity .5s;transition:opacity .5s
}
.content .gif.loading .preloader{opacity:1
}

.content .content-element.video .play-button{width:64px;height:64px
}
.content .content-element.video iframe{position:absolute;width:100%;height:100%
}
.content .content-element.video .player{width:100%;height:100%
}
.content .content-element.video .player .w-focus-border,.modal-window .w-focus-border{border:none!important
}
.touch-preventer{position:absolute;z-index:1;top:0;width:100%;height:90%
}

.vimeo-player{background:#000
}

.flat-book{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;background-color:#fff
}

.nav-button-prev{left:-4096px
}
.nav-button.nav-button-prev .nav-arrow.nav-arrow-prev{right:0;padding:48px 4px 48px 64px
}

.nav-button{position:absolute;top:0;width:4096px;height:100%;cursor:pointer;border-radius:15px 0 0 15px
}
.nav-button .btn-container{position:absolute;top:0;right:0;bottom:0;left:0;cursor:pointer
}
.nav-button .btn-container.non-interactive{cursor:default
}
.nav-button .nav-arrow{position:absolute;z-index:1;top:0;bottom:0;-webkit-box-sizing:content-box;box-sizing:content-box;width:20px;height:28px;margin:auto;padding-right:4px;padding-left:4px;cursor:pointer;-webkit-transition:color .35s;transition:color .35s;color:hsla(10,3%,43%,.6)
}
.nav-button .nav-arrow:hover{color:#716c6b
}
.nav-button .nav-arrow .svg-icon{width:100%;height:100%
}
.nav-button .nav-arrow .svg-fill{fill:currentColor;stroke:none
}

.nav-button-next{right:-4096px
}
.nav-button.nav-button-next .nav-arrow.nav-arrow-next{left:0;padding:48px 64px 48px 4px
}

.content .video-placeholder{position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:100%;cursor:inherit;-webkit-transition:background-color .35s;transition:background-color .35s;border:1px solid #1888d7;background-color:rgba(24,136,215,.3)
}
.content .selectable-video.selected{background-color:rgba(24,136,215,.5)
}
.content .selectable-video:not(.selected){cursor:pointer
}
.content .selectable-video.selected .play-button{cursor:inherit
}
.content .selectable-video:not(.selected):hover{background-color:rgba(24,136,215,.4)
}

.content .vdr-n{cursor:move;outline:none
}
.content .vdr-n *{cursor:move
}
.content .vdr-n .resize-square{display:none;width:7px;height:7px;background-color:#1888d7
}
.content .vdr-n .resize-square,.content .vdr-n .resize-square:after{position:absolute;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
.content .vdr-n .resize-square:after{top:-3px;left:-3px;width:13px;height:13px;content:""
}
.content .vdr-n.resizable.active .resize-square{display:block
}
.content .vdr-n .resize-square-top-left{top:-3px;left:-3px;cursor:nwse-resize
}
.content .vdr-n .resize-square-top-right{top:-3px;right:-3px;cursor:nesw-resize
}
.content .vdr-n .resize-square-bottom-left{bottom:-3px;left:-3px;cursor:nesw-resize
}
.content .vdr-n .resize-square-bottom-right{right:-3px;bottom:-3px;cursor:nwse-resize
}
.content .vdr-n .resize-square-top{top:-3px;left:50%;margin-left:-3px;cursor:ns-resize
}
.content .vdr-n .resize-square-right{top:50%;right:-3px;margin-top:-3px;cursor:ew-resize
}
.content .vdr-n .resize-square-bottom{bottom:-3px;left:50%;margin-left:-3px;cursor:ns-resize
}
.content .vdr-n .resize-square-left{top:50%;left:-3px;margin-top:-3px;cursor:ew-resize
}
.content .vdr-n .content-element:hover .play-button,.content .vdr-n .play-button{-webkit-transform:translate(-50%,-50%) scale(.9);transform:translate(-50%,-50%) scale(.9);opacity:.9
}

.content .content-element{position:absolute
}
.content .play-button{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)
}
.content .content-element:hover .play-button,.content .play-button.highlighted,.highlighted .content .play-button{opacity:1
}

.break{clear:right
}
.th-wrapper{padding-bottom:10px
}
.th-wrapper.rtl{direction:rtl
}
.slide .th-wrapper{padding-top:10px;padding-bottom:0
}
.th-template{position:absolute;top:-5000px;left:5000px
}
.th-string{font-size:0;display:inline-block;width:100%;padding-bottom:36px;text-align:center
}
.th-spread-wrapper{display:inline-block;margin:20px 10px
}
.th-spread-wrapper .th-item-title{direction:ltr
}
.slide .rtl .th-string,.slide .th-string{padding-bottom:0
}
.slide .rtl .th-spread-wrapper,.slide .th-spread-wrapper{width:100%;margin:0
}
.th-preloader{position:absolute;top:0;width:100%;height:100%
}
.th-preloader .preloader-container{position:absolute;z-index:1;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);direction:ltr
}

.publication-container.desktop .tool-window{z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-negative:0;flex-shrink:0;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1
}
.publication-container.desktop .tool-window.right{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3
}
.tool-title-frame{line-height:45px;width:100%;height:45px
}
.tool-title{font-size:13px;display:inline-block;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
.tool-title,.tool-title:before{line-height:45px;float:left;height:45px
}
.tool-title:before{font-size:21px;padding:0 10px;vertical-align:top
}
.tool-title-frame .icon-close{float:right
}
.tool-title-frame .icon-close:hover{cursor:pointer
}
.tool-title-frame .icon-close:before{font-size:21px;line-height:48px;height:48px;padding:0 10px;vertical-align:top
}
object#flashContent{float:right
}
.tool-window .scroller{position:relative;overflow:hidden;-webkit-box-flex:1;-ms-flex:1;flex:1;width:100%
}
.cont{width:100%;height:auto
}
.iScrollLoneScrollbar.show{-webkit-transition:opacity 1s ease-in-out!important;transition:opacity 1s ease-in-out!important;opacity:.5!important
}
.iScrollLoneScrollbar:hover{-webkit-transition:opacity .5s ease-in-out!important;transition:opacity .5s ease-in-out!important;opacity:1!important
}

.th-item-wrapper{-webkit-box-sizing:border-box;box-sizing:border-box
}
.th-item-wrapper:first-child{float:left
}
.rtl .th-item-wrapper:first-child,.th-item-wrapper:last-child{float:right
}
.rtl .th-item-wrapper:last-child{float:left
}
.th-item-wrapper.wide{width:100%
}
.th-img-element,.th-item-wrapper .page{position:relative
}
.th-img-element{overflow:hidden;width:100%;margin:auto;cursor:pointer;text-align:left;text-align:initial
}
.th-img-element.loading .preloader{position:absolute;width:100%;height:100%
}
.th-item-wrapper.wide .th-img-element.loading .preloader{width:50%
}
.slide .th-item-wrapper.wide .th-img-element.loading .preloader{width:100%
}
.th-item-title{font-size:13px;display:block;width:100%;height:18px;margin-bottom:-36px;padding:6px 0 12px;cursor:default;text-align:center
}
.slide .rtl .th-item-wrapper:first-child,.slide .rtl .th-item-wrapper:last-child,.slide .th-item-wrapper:first-child,.slide .th-item-wrapper:last-child{padding:5px 10px
}
.slide .rtl .th-item-wrapper,.slide .th-item-wrapper{float:none
}
.slide .rtl .th-item-title,.slide .th-item-title{margin-bottom:0
}
.th-item-wrapper .gradient{position:absolute;width:100%;height:100%;pointer-events:none
}
.rtl .th-item-wrapper:last-child .gradient,.th-item-wrapper:first-child .gradient{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.2)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.2)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.2))
}
.rtl .th-item-wrapper:first-child .gradient,.th-item-wrapper:last-child .gradient{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.15)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.15)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.15))
}
.rtl .th-item-wrapper:first-child.wide .gradient,.th-item-wrapper.wide .gradient{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.15)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.15)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.15) 50%,transparent 52%)
}
.rtl .th-item-wrapper:last-child .gradient.light,.th-item-wrapper:first-child .gradient.light{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.1)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.1)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.1))
}
.rtl .th-item-wrapper:first-child .gradient.light,.th-item-wrapper:last-child .gradient.light{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.05)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.05)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.05))
}
.th-item-wrapper.wide .gradient.light{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.05)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.05)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.05) 50%,transparent 52%)
}
.rtl .th-item-wrapper:last-child .gradient.hard,.th-item-wrapper:first-child .gradient.hard{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.3)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.3)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.3))
}
.rtl .th-item-wrapper:first-child .gradient.hard,.th-item-wrapper:last-child .gradient.hard{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.25)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.25)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.25))
}
.th-item-wrapper.wide .gradient.hard{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.25)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.25)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.25) 50%,transparent 52%)
}
.slide .th-item-wrapper .gradient,.th-item-wrapper .gradient.zero,.th-item-wrapper:first-child .gradient,.th-item-wrapper:last-child .gradient{display:none
}

.mobile-left-arrow,.mobile-right-arrow{position:absolute;top:50%;margin:-40px 10px 0;height:80px;width:50px;z-index:1;cursor:pointer
}
.mobile-right-arrow{right:0;text-align:right
}
.mobile-left-arrow{left:0;text-align:left
}
.mobile-left-arrow svg,.mobile-right-arrow svg{fill:#fff;width:20px;filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(89,97,104,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');-webkit-filter:drop-shadow(0 0 2px #596168);filter:drop-shadow(0 0 2px #596168)
}

.toc-ul{width:100%
}

.toc-item{width:100%
}
.toc-item-p{font-size:12px;line-height:34px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;min-height:36px;-webkit-user-select:none;vertical-align:text-top;-webkit-user-drag:none
}
.toc-item .icon,.toc-item .page-label{line-height:34px;display:inline-block;float:left;-ms-flex-negative:0;flex-shrink:0;height:36px;text-align:center;vertical-align:middle
}
.toc-item .icon:before,.toc-item .page-label:before{font-size:15px;line-height:36px;width:28px;height:34px
}
.toc-item:hover{cursor:pointer
}
.toc-sub-item-ul{display:block
}
.toc-item-title{line-height:15px;display:inline-block;float:left;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px 10px 10px 0;text-align:left;vertical-align:middle;text-overflow:ellipsis
}


.search-sub-header{font-size:12px;line-height:27px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;padding-right:10px;padding-left:10px;cursor:default;text-align:left;direction:ltr
}
.search-sub-header.empty-result{height:3px;background:transparent!important
}
.search-input-block{line-height:23px;width:100%;margin:5px 0;padding:0 10px
}
.search-input-block,.search-input-block .search-icon{-webkit-box-sizing:border-box;box-sizing:border-box;height:23px
}
.search-input-block .search-icon{float:right;width:28px;margin:1px 0 0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:0;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-drag:none
}
.search-input-block .search-icon svg{width:14px;height:14px;margin:4px 7px
}
.search-input-block .clear-icon{position:absolute;right:48px;-webkit-box-sizing:border-box;box-sizing:border-box;width:24px;height:24px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:0;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-drag:none
}
.search-input-block .clear-icon svg{margin:4px
}
.search-input-block label{display:block;padding-right:10px
}
.search-input-block input,.search-input-block label{overflow:hidden;white-space:nowrap;text-overflow:ellipsis
}
.search-input-block input{line-height:23px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:23px;padding:0 5px;text-align:left
}
.search-live-preloader{float:right;width:60px;height:10px
}
.search-preloader{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%;height:50px;margin-top:20px
}
.search-preloader .preloader-dots{height:50px
}
.search-live-preloader .dot,.search-preloader .preloader-dots .dot{display:inline-block;width:8px;height:8px;-webkit-animation:moveit 1.8s infinite;animation:moveit 1.8s infinite;opacity:.3;border-radius:50%;background:#666
}
.search-live-preloader .dot{-webkit-animation:moveitlive 1s infinite;animation:moveitlive 1s infinite
}
.search-preloader .preloader-dots .dot:nth-child(2){-webkit-animation-delay:.15s;animation-delay:.15s
}
.search-preloader .preloader-dots .dot:nth-child(3){-webkit-animation-delay:.3s;animation-delay:.3s
}
.search-preloader .preloader-dots .dot:nth-child(4){-webkit-animation-delay:.45s;animation-delay:.45s
}
.search-preloader .preloader-dots .dot:nth-child(5){-webkit-animation-delay:.6s;animation-delay:.6s
}
@-webkit-keyframes moveit{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
35%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.3
}
50%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.8
}
70%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:.8
}
85%{-webkit-transform:translateY(-3px);transform:translateY(-3px)
}
}
@keyframes moveit{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
35%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.3
}
50%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.8
}
70%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:.8
}
85%{-webkit-transform:translateY(-3px);transform:translateY(-3px)
}
}
@-webkit-keyframes moveitlive{
0%{-webkit-transform:translateX(0);transform:translateX(0)
}
50%{-webkit-transform:translateX(50px);transform:translateX(50px)
}
to{-webkit-transform:translateX(0);transform:translateX(0)
}
}
@keyframes moveitlive{
0%{-webkit-transform:translateX(0);transform:translateX(0)
}
50%{-webkit-transform:translateX(50px);transform:translateX(50px)
}
to{-webkit-transform:translateX(0);transform:translateX(0)
}
}
.search-live-preloader.hidden,.search-preloader.hidden,.search-scroller.hidden{display:none
}

.search-ul{width:100%
}
.search-item{width:100%;text-align:left
}
.search-item-p{font-size:12px;line-height:34px;display:inline-block;width:100%;min-height:36px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;direction:ltr;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.search-item-p:hover{cursor:pointer
}
.search-item-p{line-height:15px;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px;vertical-align:middle;text-overflow:ellipsis
}

.publication-container .banner-notice{z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;opacity:1;background-color:#fff
}
.publication-container .banner-notice .notice-text{display:block;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;text-align:center;color:#2a3137
}
.publication-container .banner-notice .notice-text a,.publication-container .banner-notice .notice-text a:hover,.publication-container .banner-notice .notice-text a:visited{color:#5c91e1
}
.publication-container .banner-notice .close-icon{display:block;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2
}
