
#publication,.publication-container.mobile{position:fixed;width:100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.publication-container.mobile .main-frame{z-index:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;-webkit-transition:all .3s;transition:all .3s;-webkit-transform:translateZ(0);transform:translateZ(0)
}
.bottom-bar-mobile,.top-bar-mobile{z-index:100;width:100%;position:absolute;-webkit-transition:all .25s;transition:all .25s;-webkit-transform:translateZ(0);transform:translateZ(0)
}
.top-bar-mobile{top:0
}
.bottom-bar-mobile{bottom:0
}
.toolbars-hidden .top-bar-mobile{-webkit-transform:translate3d(0,-44px,0);transform:translate3d(0,-44px,0)
}
.toolbars-hidden .bottom-bar-mobile{-webkit-transform:translate3d(0,44px,0);transform:translate3d(0,44px,0)
}
.top-bar-mobile .title{position:absolute;z-index:-10;top:0;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center
}
.svg-menu-button{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.svg-icon{margin:auto
}
.bottom-bar-mobile .thumbnails-button,.top-bar-mobile .menu-button{position:absolute;left:0
}
.top-bar-mobile .search-button{position:absolute;right:0
}
.bottom-bar-mobile .icon-button,.top-bar-mobile .icon-button{display:block;float:left;text-align:center
}
.bottom-bar-mobile .pager-mobile{position:absolute;z-index:-10;top:0;float:left;text-align:center
}
.bottom-bar-mobile .logo{display:block;position:absolute;z-index:-10;right:0;text-decoration:none
}
.font-loader{position:absolute;top:-5000px;left:-5000px;display:block
}
.publication-container.mobile .tool-window{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-negative:0;flex-shrink:0;left:0;top:0;bottom:0
}
.publication-container.mobile .tool-window.v-enter-active,.publication-container.mobile .tool-window.v-leave-active{-webkit-transition:all .3s;transition:all .3s
}
.publication-container.mobile .tool-window.panel-right,.publication-container.mobile .tool-window.sidebar-right{left:auto;right:0
}
.publication-container.mobile .tool-title{width:100%;text-align:center
}
.publication-container.mobile .tool-title:before{display:none
}
.publication-container.mobile .search-input-block input{-webkit-appearance:none;-moz-appearance:none;vertical-align:center;width:100%
}
.publication-container.mobile .search-input-block label{padding:0
}
.publication-container.mobile .search-input-block .clear-icon,.publication-container.mobile .search-input-block .search-icon{position:absolute;float:none
}
.publication-container.mobile .search-results-count{display:block;text-align:center;width:100%
}
.publication-container.mobile .search-live-preloader{float:none;margin:auto
}
.publication-container.mobile .search-item-title{display:inline-block;width:100%;font-weight:800
}
.publication-container.mobile .search-item-result{display:inline-block;width:100%
}
.publication-container.mobile .toc-item-p{-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.publication-container.mobile .toc-item-title{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1
}
.publication-container.mobile .toc-item .icon,.publication-container.mobile .toc-item .page-label{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;-ms-flex-negative:0;flex-shrink:0;text-align:right;float:right
}
.publication-container.mobile .toc-item .page-label{text-align:right
}
.publication-container.mobile .download-header{text-align:center
}
.publication-container.mobile .download-header .arrow{position:absolute;right:0
}
.publication-container.mobile .download-header .arrow svg{-webkit-transition-duration:.25s;transition-duration:.25s
}
.publication-container.mobile .download-header .arrow.closed svg{-webkit-transform:rotate(180deg);transform:rotate(180deg)
}
.publication-container.mobile .downloads{-webkit-transition-duration:.3s;transition-duration:.3s
}
.publication-container.mobile .download-item .download-icon{position:relative;float:left
}
.publication-container.mobile .download-items{width:100%;max-height:180px;overflow:auto
}
.publication-container.mobile .download-item.custom{-webkit-transition:all 1s;transition:all 1s
}
.publication-container.mobile .download-title{float:left
}
.publication-container.mobile .download-size{float:right
}
.publication-container.mobile .single .th-item-wrapper:first-child,.publication-container.mobile .single .th-item-wrapper:last-child{padding:0;padding:initial
}
.publication-container.mobile .single .th-item-wrapper .gradient{display:none
}
.publication-container.mobile .th-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly
}

#publication,.publication-container.mobile{font-family:HelveticaNeue-CondensedBold,Open Sans,Helvetica,Arial,sans-serif;font-weight:600
}
.publication-container.mobile .main-frame{background-color:#65666d
}
.bottom-bar-mobile,.publication-container.mobile .top-bar-mobile{background-color:rgba(0,0,0,.7);color:#fff;fill:#fff
}
.publication-container.mobile .tool-window{background-color:#242528;color:#fff
}
.publication-container.mobile .tool-title-frame{background-color:#2f3033
}
.publication-container.mobile .tool-title{color:#b8bcc8
}
.publication-container.mobile .iScrollIndicator{background-color:hsla(0,0%,100%,.5)!important;border-color:rgba(0,0,0,.9)!important
}
.publication-container.mobile .search-input-block input{font-family:HelveticaNeue-CondensedBold,Open Sans,Helvetica,Arial,sans-serif;border:1px solid #464b56;background-color:#2a2a2c;color:#fff
}
.publication-container.mobile .search-input-block input::-webkit-input-placeholder{color:#bababa
}
.publication-container.mobile .search-input-block input:-ms-input-placeholder,.publication-container.mobile .search-input-block input::-ms-input-placeholder{color:#bababa
}
.publication-container.mobile .search-input-block input::placeholder{color:#bababa
}
.publication-container.mobile .search-input-block .clear-icon,.publication-container.mobile .search-input-block .search-icon{fill:#bababa
}
.publication-container.mobile li.search-item{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile li.search-item:last-child{border-bottom:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile .search-item b{font-weight:800
}
.publication-container.mobile .search-item-title{color:#8791a5;text-transform:uppercase
}
.publication-container.mobile .search-item-p{color:#bebebe
}
.publication-container.mobile .search-item-result b{color:#fff
}
.publication-container.mobile li.toc-item,.publication-container.mobile li.toc-item:last-child{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile .toc-item .page-label{color:hsla(0,0%,59%,.6)
}
.publication-container.mobile .th-spread-wrapper,.slide .th-img-element{-webkit-box-shadow:0 0 0 1px rgba(0,0,0,.2);box-shadow:0 0 0 1px rgba(0,0,0,.2)
}
.publication-container.mobile .slide .th-spread-wrapper{-webkit-box-shadow:none;box-shadow:none
}
.publication-container.mobile .th-spread-wrapper.active,.th-item-wrapper.active .th-img-element{outline:3px solid rgba(255,0,0,.9)
}
.publication-container.mobile .th-item-title{color:hsla(0,0%,100%,.7);font-weight:600
}
.publication-container.mobile .download-header{background-color:#2f3033;color:#b8bcc8
}
.publication-container.mobile .download-header .arrow svg,.publication-container.mobile .download-item .download-icon svg{fill:#71777c
}
.publication-container.mobile li.download-item{border-top:1px solid rgba(79,83,97,.2)
}
.publication-container.mobile li.download-item a{text-decoration:none;color:#fff
}

.publication-container.mobile.panel-left .main-frame,.publication-container.mobile.portrait.sidebar-left .main-frame{-webkit-transform:translate3d(calc(100vw - 44px),0,0);transform:translate3d(calc(100vw - 44px),0,0)
}
.publication-container.mobile.panel-right .main-frame,.publication-container.mobile.portrait.sidebar-right .main-frame{-webkit-transform:translate3d(calc(-100vw + 44px),0,0);transform:translate3d(calc(-100vw + 44px),0,0)
}
.publication-container.mobile.landscape.sidebar-left .main-frame{-webkit-transform:translate3d(calc(100vh - 44px),0,0);transform:translate3d(calc(100vh - 44px),0,0)
}
.publication-container.mobile.landscape.sidebar-right .main-frame{-webkit-transform:translate3d(calc(44px - 50vh - 50vw),0,0);transform:translate3d(calc(44px - 50vh - 50vw),0,0)
}
.publication-container.mobile.portrait .tool-window.sidebar-left,.publication-container.mobile.portrait .tool-window.sidebar-right,.publication-container.mobile .tool-window.panel-left,.publication-container.mobile .tool-window.panel-right{width:calc(100vw - 44px)
}
.publication-container.mobile.landscape .tool-window.sidebar-left{width:calc(100vh - 44px)
}
.publication-container.mobile.landscape .tool-window.sidebar-right{width:calc(50vh + 50vw - 44px)
}
.bottom-bar-mobile,.top-bar-mobile{height:44px;line-height:44px
}
.toolbars-hidden .top-bar-mobile{-webkit-transform:translate3d(0,-44px,0);transform:translate3d(0,-44px,0)
}
.toolbars-hidden .bottom-bar-mobile{-webkit-transform:translate3d(0,44px,0);transform:translate3d(0,44px,0)
}
.top-bar-mobile .title{font-size:16px;left:70px;width:calc(100% - 140px);height:44px
}
.svg-menu-button{width:44px;height:44px
}
.bottom-bar-mobile .icon-button,.top-bar-mobile .icon-button{font-size:32px;line-height:44px;width:44px;height:44px
}
.bottom-bar-mobile .pager-mobile{font-size:16px;left:44px;height:44px
}
.bottom-bar-mobile .logo{width:130px;height:44px
}
.bottom-bar-mobile .logo svg{width:110px;height:36px;padding:4px 10px
}
.publication-container.mobile .tool-title-frame{height:44px;line-height:44px
}
.publication-container.mobile .tool-title{font-size:16px;line-height:44px
}
.publication-container.mobile .tool-header{height:80px
}
.publication-container.mobile .search-input-block{padding:5px 7px;height:44px;margin:0
}
.publication-container.mobile .search-input-block label{padding-top:5px
}
.publication-container.mobile .search-input-block input{border-radius:18px;text-indent:30px;line-height:14px;height:36px;font-size:14px
}
.publication-container.mobile .search-input-block .search-icon{left:15px;line-height:36px;height:36px;width:36px;padding-top:4px
}
.publication-container.mobile .search-input-block .clear-icon{right:15px;line-height:36px;height:36px;width:36px;padding-top:5px
}
.publication-container.mobile .search-input-block .clear-icon svg,.publication-container.mobile .search-input-block .search-icon svg{margin:10px
}
.publication-container.mobile .search-results-count{font-size:14px;padding:5px
}
.publication-container.mobile .search-item-p{padding:10px 20px;line-height:18px;font-size:12px
}
.publication-container.mobile .search-item-title{padding-bottom:5px
}
.publication-container.mobile .toc-item .icon,.publication-container.mobile .toc-item .page-label{width:44px;height:44px;line-height:44px
}
.publication-container.mobile .toc-item .icon{padding-right:5px
}
.publication-container.mobile .toc-item .page-label{font-size:11px;padding-right:10px
}
.publication-container.mobile .toc-item .icon:before{width:44px;height:44px;font-size:22px;line-height:44px
}
.publication-container.mobile .toc-item-title{padding-left:10px;line-height:20px;font-size:16px
}
.publication-container.mobile .download-header{height:44px;line-height:44px;font-size:16px
}
.publication-container.mobile .download-header .arrow{height:44px;width:44px
}
.publication-container.mobile .download-header .arrow svg{padding:6px
}
.publication-container.mobile .download-item{height:44px;line-height:44px;padding:0 10px
}
.publication-container.mobile .download-item .download-icon{margin-left:-10px;height:44px;width:44px
}
.publication-container.mobile .download-items{max-height:180px
}
.publication-container.mobile .download-item .download-icon svg{padding:6px
}
.publication-container.mobile .single .th-item-wrapper,.publication-container.mobile .th-spread-wrapper{margin:20px 10px
}
.publication-container.mobile .th-spread-wrapper.narrow{margin:20px 65px
}
.publication-container.mobile .th-wrapper{padding:5px 10px 15px
}
.publication-container.mobile .th-item-title{font-size:13px;padding:6px 0 12px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
.publication-container.mobile.panel-left .main-frame,.publication-container.mobile.portrait.sidebar-left .main-frame{-webkit-transform:translate3d(calc(100vw - 88px),0,0);transform:translate3d(calc(100vw - 88px),0,0)
}
.publication-container.mobile.panel-right .main-frame,.publication-container.mobile.portrait.sidebar-right .main-frame{-webkit-transform:translate3d(calc(-100vw + 88px),0,0);transform:translate3d(calc(-100vw + 88px),0,0)
}
.publication-container.mobile.landscape.sidebar-left .main-frame{-webkit-transform:translate3d(calc(100vh - 88px),0,0);transform:translate3d(calc(100vh - 88px),0,0)
}
.publication-container.mobile.landscape.sidebar-right .main-frame{-webkit-transform:translate3d(calc(88px - 50vh - 50vw),0,0);transform:translate3d(calc(88px - 50vh - 50vw),0,0)
}
.publication-container.mobile.portrait .tool-window.sidebar-left,.publication-container.mobile.portrait .tool-window.sidebar-right,.publication-container.mobile .tool-window.panel-left,.publication-container.mobile .tool-window.panel-right{width:calc(100vw - 88px)
}
.publication-container.mobile.landscape .tool-window.sidebar-left{width:calc(100vh - 88px)
}
.publication-container.mobile.landscape .tool-window.sidebar-right{width:calc(50vh + 50vw - 88px)
}
.bottom-bar-mobile,.top-bar-mobile{height:88px;line-height:88px
}
.toolbars-hidden .top-bar-mobile{-webkit-transform:translate3d(0,-88px,0);transform:translate3d(0,-88px,0)
}
.toolbars-hidden .bottom-bar-mobile{-webkit-transform:translate3d(0,88px,0);transform:translate3d(0,88px,0)
}
.top-bar-mobile .title{font-size:32px;left:140px;width:calc(100% - 280px);height:88px
}
.svg-menu-button{width:88px;height:88px
}
.bottom-bar-mobile .icon-button,.top-bar-mobile .icon-button{font-size:64px;line-height:88px;width:88px;height:88px
}
.bottom-bar-mobile .pager-mobile{font-size:32px;left:88px;height:88px
}
.bottom-bar-mobile .logo{width:260px;height:88px
}
.bottom-bar-mobile .logo svg{width:220px;height:72px;padding:8px 20px
}
.publication-container.mobile .tool-title-frame{height:88px;line-height:88px
}
.publication-container.mobile .tool-title{font-size:32px;line-height:88px
}
.publication-container.mobile .iScrollVerticalScrollbar{width:14px!important;bottom:4px!important;top:4px!important;right:2px!important
}
.publication-container.mobile .iScrollIndicator{border-width:2px!important;border-radius:6px!important;width:100%!important
}
.publication-container.mobile .tool-header{height:160px
}
.publication-container.mobile .search-input-block{padding:10px 15px;height:100px
}
.publication-container.mobile .search-input-block label{padding-top:10px
}
.publication-container.mobile .search-input-block input{border-radius:36px;text-indent:60px;line-height:28px;height:72px;font-size:28px
}
.publication-container.mobile .search-input-block .search-icon{line-height:72px;height:72px;width:72px;padding-top:8px
}
.publication-container.mobile .search-input-block .clear-icon{line-height:72px;height:72px;width:72px;padding-top:10px
}
.publication-container.mobile .search-input-block .clear-icon svg,.publication-container.mobile .search-input-block .search-icon svg{margin:20px
}
.publication-container.mobile .search-results-count{font-size:28px;padding:10px
}
.publication-container.mobile .search-item-p{padding:20px 40px;line-height:36px;font-size:24px
}
.publication-container.mobile .search-item-title{padding-bottom:10px
}
.publication-container.mobile .toc-item .icon,.publication-container.mobile .toc-item .page-label{width:88px;height:88px;line-height:88px
}
.publication-container.mobile .toc-item .icon{padding-right:10px
}
.publication-container.mobile .toc-item .page-label{font-size:22px;padding-right:20px
}
.publication-container.mobile .toc-item .icon:before{width:88px;height:88px;font-size:44px;line-height:88px
}
.publication-container.mobile .toc-item-title{padding-left:20px;line-height:40px;font-size:30px
}
.publication-container.mobile .download-header{height:88px;line-height:88px;font-size:32px
}
.publication-container.mobile .download-header .arrow{height:88px;width:88px
}
.publication-container.mobile .download-header .arrow svg{padding:12px
}
.publication-container.mobile .download-item{height:88px;line-height:88px;padding:0 20px;font-size:30px
}
.publication-container.mobile .download-item .download-icon{margin-left:-20px;height:88px;width:88px
}
.publication-container.mobile .download-items{max-height:360px
}
.publication-container.mobile .download-item .download-icon svg{padding:12px
}
.publication-container.mobile .single .th-item-wrapper,.publication-container.mobile .th-spread-wrapper{margin:40px 20px
}
.publication-container.mobile .th-spread-wrapper.narrow{margin:40px 102px
}
.publication-container.mobile .th-wrapper{padding:10px 20px 30px
}
.publication-container.mobile .th-item-title{font-size:26px
}
.publication-container.mobile .th-spread-wrapper.active,.th-item-wrapper.active .th-img-element{outline-width:6px
}
.page.unready .page-preloader .preloader-bg{width:180px;height:180px;background-size:contain
}
.page.error .page-preloader .preloader-bg{width:166px;height:126px;background-size:contain
}
.page.unready .page-preloader .preloader-text{max-width:550px;font-size:24px;line-height:34px
}
.page.error .page-preloader .preloader-header{min-width:240px;font-size:28px;margin:20px
}
.page.error .page-preloader .preloader-text{max-width:550px;font-size:24px
}
.publication-container.mobile .content .play-button{width:102px;height:102px
}
.publication-container.mobile .content .content-element.video .play-button{width:128px;height:128px
}
.publication-container.mobile .content .content-element.gif .replay{right:15px;bottom:15px;padding:10px;height:40px;width:40px
}
.content .gif .preloader{height:64px;width:64px
}
.modal-window .modal-preloader{height:128px;width:128px
}
}
@media (min-width:768px) and (min-height:768px) and (-webkit-max-device-pixel-ratio:1.99),(min-width:768px) and (min-height:768px) and (-webkit-max-device-pixel-ratio:1.9895833333333333),(min-width:768px) and (min-height:768px) and (max-resolution:191dpi){
.publication-container.mobile.portrait.sidebar-left .main-frame{-webkit-transform:translate3d(calc(50vw - 44px),0,0);transform:translate3d(calc(50vw - 44px),0,0)
}
.publication-container.mobile.portrait.sidebar-right .main-frame{-webkit-transform:translate3d(calc(-50vw + 44px),0,0);transform:translate3d(calc(-50vw + 44px),0,0)
}
.publication-container.mobile.landscape.sidebar-left .main-frame{-webkit-transform:translate3d(calc(50vh - 44px),0,0);transform:translate3d(calc(50vh - 44px),0,0)
}
.publication-container.mobile.landscape.sidebar-right .main-frame{-webkit-transform:translate3d(calc(44px - 25vh - 25vw),0,0);transform:translate3d(calc(44px - 25vh - 25vw),0,0)
}
.publication-container.mobile.portrait.sidebar-left .tool-window,.publication-container.mobile.portrait.sidebar-right .tool-window{width:calc(50vw - 44px)
}
.publication-container.mobile.landscape.sidebar-left .tool-window{width:calc(50vh - 44px)
}
.publication-container.mobile.landscape.sidebar-right .tool-window{width:calc(25vh + 25vw - 44px)
}
.publication-container.mobile .th-spread-wrapper.narrow{margin:20px 65px
}
}
@media (min-width:1536px) and (min-height:1536px) and (-webkit-min-device-pixel-ratio:2),(min-width:1536px) and (min-height:1536px) and (min-resolution:192dpi){
.publication-container.mobile.portrait.sidebar-left .main-frame{-webkit-transform:translate3d(calc(50vw - 88px),0,0);transform:translate3d(calc(50vw - 88px),0,0)
}
.publication-container.mobile.portrait.sidebar-right .main-frame{-webkit-transform:translate3d(calc(-50vw + 88px),0,0);transform:translate3d(calc(-50vw + 88px),0,0)
}
.publication-container.mobile.landscape.sidebar-left .main-frame{-webkit-transform:translate3d(calc(50vh - 88px),0,0);transform:translate3d(calc(50vh - 88px),0,0)
}
.publication-container.mobile.landscape.sidebar-right .main-frame{-webkit-transform:translate3d(calc(88px - 25vh - 25vw),0,0);transform:translate3d(calc(88px - 25vh - 25vw),0,0)
}
.publication-container.mobile.portrait.sidebar-left .tool-window,.publication-container.mobile.portrait.sidebar-right .tool-window{width:calc(50vw - 88px)
}
.publication-container.mobile.landscape.sidebar-left .tool-window{width:calc(50vh - 88px)
}
.publication-container.mobile.landscape.sidebar-right .tool-window{width:calc(25vh + 25vw - 88px)
}
.publication-container.mobile .th-spread-wrapper.narrow{margin:40px 130px
}
}

.publication-container.desktop .book-container{-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;position:relative
}
.publication-container.mobile .book-container{top:0;right:0;bottom:0;left:0;position:absolute
}
.publication-container.flat .book-container{width:100%;height:100%
}

.flip-book{position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;right:0
}
.book-holder{position:absolute;will-change:transform
}
.book{position:absolute;-webkit-perspective:5000px;perspective:5000px;opacity:1
}
.lft-sdw .z1,.rgt-sdw .z1{-webkit-box-shadow:0 0 3px 0 #666;box-shadow:0 0 3px 0 #666
}
.full-sdw{-webkit-box-shadow:0 0 5px 0 #333;box-shadow:0 0 5px 0 #333
}
.page-flip-container{will-change:transform;position:absolute;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff
}
.mask{position:absolute;opacity:1
}
.mask.work{z-index:100;overflow:hidden
}
.flip-grad{position:absolute
}
.vis{display:block
}
.left{left:0
}
.work .right{left:auto
}
.zindex{z-index:-1
}
.reflex-container{z-index:75;overflow:hidden
}
.inner-reflex,.inner-reflex-bottom,.reflex-container{will-change:transform;position:absolute
}
.reflex-container2{position:absolute;overflow:hidden;-webkit-transition-property:width
}
.z1{z-index:1
}
.z2{z-index:2
}
.z3{z-index:3
}
.z4{z-index:4
}
.reflex-left:before{position:absolute;z-index:10000;right:0;-ms-touch-action:none;touch-action:none;pointer-events:none;content:"";background:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.35)),color-stop(16%,hsla(0,0%,100%,.4)),color-stop(18%,hsla(0,0%,100%,.4)),to(transparent));background:linear-gradient(270deg,rgba(0,0,0,.35),hsla(0,0%,100%,.4) 16%,hsla(0,0%,100%,.4) 18%,transparent);background:-webkit-linear-gradient(right,rgba(0,0,0,.35),hsla(0,0%,100%,.4) 16%,hsla(0,0%,100%,.4) 18%,transparent)
}
.reflex-right:before{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.41)),color-stop(15%,hsla(0,0%,100%,.25)),color-stop(16%,hsla(0,0%,100%,.25)),to(transparent));background:linear-gradient(90deg,rgba(0,0,0,.41),hsla(0,0%,100%,.25) 15%,hsla(0,0%,100%,.25) 16%,transparent);background:-webkit-linear-gradient(left,rgba(0,0,0,.41),hsla(0,0%,100%,.25) 15%,hsla(0,0%,100%,.25) 16%,transparent)
}
.reflex-first:before,.reflex-right:before{position:absolute;z-index:10000;left:0;-ms-touch-action:none;touch-action:none;pointer-events:none;content:""
}
.reflex-first:before{background:-webkit-linear-gradient(left,rgba(0,0,0,.35),rgba(0,0,0,.2) .4%,rgba(0,0,0,.1) 4%,transparent)
}
.page-flip-container.bottom{display:none
}
.work .page-flip-container.bottom{display:block
}
.flip-grad{display:none
}
.work .bottom .flip-grad{display:block
}
.reflex-container2{display:none
}
.work .reflex-container2{display:block
}
.debug-canvas{position:absolute;z-index:-100;top:0;left:0
}
.layer1{z-index:60
}
.layer2{z-index:70
}
.layer3{z-index:80
}
.page-flip-container.break{display:none
}
.hard-mask{position:absolute;-webkit-transform-origin:100% 100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d
}
.hard-mask.right{-webkit-transform-origin:0 0
}
.hard-back,.hard-front{position:absolute;top:0;left:0;-webkit-backface-visibility:hidden;backface-visibility:hidden
}
.hard-front{z-index:2;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)
}
.hard-back{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)
}
.action.hard-mask.right{-webkit-box-shadow:30px 0 30px -17px rgba(0,0,0,.3);box-shadow:30px 0 30px -17px rgba(0,0,0,.3)
}
.action.hard-mask{-webkit-box-shadow:-30px 0 30px -17px rgba(0,0,0,.3);box-shadow:-30px 0 30px -17px rgba(0,0,0,.3)
}
.inner-reflex-mask{position:absolute;overflow:hidden
}
.inner-reflex-mask.last{left:0
}
.last .inner-reflex{margin-left:0
}
.reflex-first:before,.reflex-left:before,.reflex-right:before{-webkit-transition:opacity .1s ease-out;transition:opacity .1s ease-out;opacity:1
}
.book-stopped .reflex-first:before,.book-stopped .reflex-left:before,.book-stopped .reflex-right:before{-webkit-transition:opacity 0s;transition:opacity 0s;opacity:0
}
.book-stopped .layer2,.book-stopped .reflex-container,.book-stopped .z2,.book-stopped .z3{display:none
}

.page{overflow:hidden;position:absolute;-webkit-box-sizing:border-box;box-sizing:border-box;margin:auto;left:0;right:0;top:0;bottom:0
}
.background{overflow:hidden
}
.background,.background img{position:absolute;width:100%;height:100%
}
.content{margin:auto
}
.content,.content>div{position:absolute
}
.page.bordered{border:1px solid rgba(39,47,55,.1);overflow:visible;right:-1px;bottom:-1px
}
.page.bordered,.page.bordered>.background{top:-1px;left:-1px;-webkit-box-sizing:content-box;box-sizing:content-box
}
.page.bordered>.background{border:1px solid #979797
}
.page .page-preloader{position:absolute;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);direction:ltr;z-index:1
}
.page.unready .page-preloader .preloader-bg{background:url(./css/img/page-unready_55dd142.gif) no-repeat 50%;width:90px;height:90px;margin:auto
}
.page.error .page-preloader .preloader-bg{background:url(./css/img/page-error_023a46d.png) no-repeat 50%;width:83px;height:63px;margin:auto
}
.page.unready .page-preloader .preloader-text{max-width:275px;font-size:12px;line-height:17px;text-align:center
}
.page.unready .page-preloader .preloader-text.light{color:#ecf0f1
}
.page.unready .page-preloader .preloader-text.dark{color:#354353
}
.page.error .page-preloader .preloader-header{min-width:120px;font-size:14px;font-weight:600;text-align:center;margin:10px
}
.page.error .page-preloader .preloader-text{max-width:275px;font-size:12px;text-align:center
}
.page.error.dark .page-preloader .preloader-header,.page.error.dark .page-preloader .preloader-text{color:#ecf0f1
}
.page.error.light .page-preloader .preloader-header,.page.error.light .page-preloader .preloader-tex{color:#354353
}
.page.thumb.error .page-preloader .preloader-bg,.page.thumb.loading .page-preloader .preloader-animation,.page.thumb.loading .page-preloader .preloader-bg,.page.thumb.unready .page-preloader .preloader-bg{background-size:50%
}
.page.thumb .page-preloader .preloader-header,.page.thumb .page-preloader .preloader-text{display:none
}
.page .highlights{position:absolute
}
.page .highlights div{background-color:rgba(255,233,33,.6);position:absolute
}

.content .block{opacity:0
}

.content .content-element .thumbnail{width:100%;height:100%;background-repeat:no-repeat;background-position:50%;background-size:cover;position:absolute;-webkit-transition:-webkit-transform .5s ease-in-out;transition:-webkit-transform .5s ease-in-out;transition:transform .5s ease-in-out;transition:transform .5s ease-in-out,-webkit-transform .5s ease-in-out;-webkit-transform:scale(1);transform:scale(1)
}
.content .play-button{width:51px;height:51px;background-color:#272f37;opacity:.7;border-radius:50%;position:absolute;-webkit-transition:opacity .3s ease-in-out,-webkit-transform .15s ease-in-out;transition:opacity .3s ease-in-out,-webkit-transform .15s ease-in-out;transition:opacity .3s ease-in-out,transform .15s ease-in-out;transition:opacity .3s ease-in-out,transform .15s ease-in-out,-webkit-transform .15s ease-in-out;cursor:pointer;-webkit-transform:translate(-50%,-50%) scale(.9);transform:translate(-50%,-50%) scale(.9);top:50%;left:50%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.content .play-button .svg-icon,.content .play-button svg{width:100%;height:100%
}
.content .play-button.hidden{opacity:0;-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)
}
.content-element.highlighted .play-button,.content .play-button.highlighted,.desktop .content .content-element:hover .play-button,.highlighted .content .play-button{opacity:.8;-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)
}

.content .link a{display:block;cursor:pointer;width:100%;height:100%;opacity:0;-webkit-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out
}
.content .link.highlighted a,.desktop .content .link.hover a:hover,.highlighted .content .link.flip a{opacity:.7
}


.modal-window-overlay{position:fixed;-webkit-box-sizing:border-box;box-sizing:border-box;left:0;top:0;width:100%;height:100vh;background:rgba(0,0,0,.75);z-index:1;opacity:1
}
.modal-window-background-click{min-height:100%;width:100%;padding-bottom:10px
}
.modal-window{position:absolute;-webkit-box-shadow:0 20px 60px -2px rgba(27,33,58,.4);box-shadow:0 20px 60px -2px rgba(27,33,58,.4);padding:0
}
.overlay-enter-active,.overlay-leave-active{-webkit-transition:all .5s;transition:all .5s
}
.overlay-enter,.overlay-leave-active{opacity:0
}
.modal-enter-active,.modal-leave-active{-webkit-transition:all .5s;transition:all .5s
}
.modal-enter,.modal-leave-active{opacity:0
}
.modal-window .modal-preloader{position:absolute;height:64px;width:64px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:50%;left:50%;background-color:rgba(0,0,0,.3);border-radius:50%;-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;pointer-events:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}

.content .gallery{background-color:#999;opacity:.7;color:#fff
}

.content .gif.autoplay .play-button,.content .gif.ended .play-button,.content .gif.loading .play-button,.content .gif.loading:hover .play-button,.content .gif.playing .play-button,.content .gif.playing:hover .play-button{opacity:0
}
.content .gif .image{position:absolute;width:100%;height:100%;overflow:hidden
}
.content .gif .image img,.content .gif .preloader{position:absolute;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:50%;left:50%
}
.content .gif .preloader{height:32px;width:32px;background-color:rgba(0,0,0,.3);pointer-events:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.content .gif .preloader,.content .gif .replay{border-radius:50%;opacity:0;-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out
}
.content .gif .replay{position:absolute;right:7px;bottom:7px;padding:5px;background-color:rgba(0,0,0,.5);height:20px;width:20px
}
.content .gif.ended .replay{display:block;opacity:.7
}
.content .gif.ended:hover .replay{opacity:1;cursor:pointer
}
.content .gif .replay svg{width:100%;height:100%;fill:#fff
}
.content .gif.playing .thumbnail{opacity:0;-webkit-transition:opacity .5s;transition:opacity .5s
}
.content .gif.loading .preloader{opacity:1
}

.content .content-element.video .play-button{width:64px;height:64px
}
.content .content-element.video iframe{position:absolute;width:100%;height:100%
}
.content .content-element.video .player{width:100%;height:100%
}

.vimeo-player{background:#000
}

.flat-book{position:absolute;background-color:#fff;margin:auto;top:0;bottom:0;left:0;right:0
}

.nav-button-prev{left:-4096px
}
.nav-button.nav-button-prev .nav-arrow.nav-arrow-prev{right:0;padding:48px 4px 48px 64px
}

.nav-button{border-radius:15px 0 0 15px;cursor:pointer;height:100%;position:absolute;top:0;width:4096px
}
.nav-button .btn-container{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0
}
.nav-button .btn-container.non-interactive{cursor:default
}
.nav-button .nav-arrow{-webkit-box-sizing:content-box;box-sizing:content-box;color:hsla(10,3%,43%,.6);cursor:pointer;height:28px;margin-top:-14px;padding-left:4px;padding-right:4px;position:absolute;top:0;bottom:0;margin:auto;-webkit-transition:color .35s;transition:color .35s;width:20px;z-index:1
}
.nav-button .nav-arrow:hover{color:#716c6b
}
.nav-button .nav-arrow .svg-icon{height:100%;width:100%
}
.nav-button .nav-arrow .svg-fill{fill:currentColor;stroke:none
}

.nav-button-next{right:-4096px
}
.nav-button.nav-button-next .nav-arrow.nav-arrow-next{left:0;padding:48px 64px 48px 4px
}

.content .video-placeholder{cursor:inherit;background-color:rgba(24,136,215,.3);border:1px solid #1888d7;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;-webkit-transition:background-color .35s;transition:background-color .35s;width:100%;height:100%
}
.content .video-placeholder .play-button{width:64px;height:64px
}
.content .selectable-video .resize-square{display:none;background-color:#1888d7;width:7px;height:7px;position:absolute
}
.content .selectable-video.selected{background-color:rgba(24,136,215,.5)
}
.content .selectable-video:not(.selected){cursor:pointer
}
.content .selectable-video.selected .play-button{cursor:inherit
}
.content .selectable-video:not(.selected):hover{background-color:rgba(24,136,215,.4)
}
.content .selectable-video.selected .resize-square{display:block
}
.content .selectable-video .resize-square-top-left{top:-3px;left:-3px
}
.content .selectable-video .resize-square-top-right{top:-3px;right:-3px
}
.content .selectable-video .resize-square-bottom-left{bottom:-3px;left:-3px
}
.content .selectable-video .resize-square-bottom-right{bottom:-3px;right:-3px
}

.content .content-element{position:absolute
}
.content .vdr .content-element{position:static
}
.content .vdr.active .content-element{cursor:move
}
.content .play-button{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)
}
.content .content-element:hover .play-button,.content .play-button.highlighted,.highlighted .content .play-button{opacity:1
}
.content .vdr .content-element:hover .play-button,.content .vdr .play-button{-webkit-transform:translate(-50%,-50%) scale(.9);transform:translate(-50%,-50%) scale(.9);opacity:.9
}

.break{clear:right
}
.th-wrapper{padding-bottom:10px
}
.slide .th-wrapper{padding-top:10px;padding-bottom:0
}
.th-template{position:absolute;top:-5000px;left:5000px
}
.th-string{display:inline-block;width:100%;text-align:center;padding-bottom:36px;font-size:0
}
.th-spread-wrapper{display:inline-block;margin:20px 10px
}
.th-spread-wrapper.narrow{margin:20px 65px
}
.slide .rtl .th-string,.slide .th-string{padding-bottom:0
}
.slide .rtl .th-spread-wrapper,.slide .th-spread-wrapper{margin:0;width:100%
}

.publication-container.desktop .tool-window{z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-negative:0;flex-shrink:0;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1
}
.publication-container.desktop .tool-window.right{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3
}
.tool-title-frame{width:100%;height:45px;line-height:45px
}
.tool-title{display:inline-block;font-size:13px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default
}
.tool-title,.tool-title:before{float:left;height:45px;line-height:45px
}
.tool-title:before{padding:0 10px;vertical-align:top;font-size:21px
}
.tool-title-frame .icon-close{float:right
}
.publication-container.mobile .tool-title-frame .icon-close{display:none
}
.tool-title-frame .icon-close:hover{cursor:pointer
}
.tool-title-frame .icon-close:before{height:48px;padding:0 10px;vertical-align:top;font-size:21px;line-height:48px
}
object#flashContent{float:right
}
.tool-window .scroller{position:relative;overflow:hidden;width:100%;-webkit-box-flex:1;-ms-flex:1;flex:1
}
.cont{width:100%;height:auto
}
.iScrollLoneScrollbar.show{opacity:.5!important;-webkit-transition:opacity 1s ease-in-out!important;transition:opacity 1s ease-in-out!important
}
.iScrollLoneScrollbar:hover{opacity:1!important;-webkit-transition:opacity .5s ease-in-out!important;transition:opacity .5s ease-in-out!important
}

.th-item-wrapper{-webkit-box-sizing:border-box;box-sizing:border-box
}
.th-item-wrapper:first-child{float:left
}
.rtl .th-item-wrapper:first-child,.th-item-wrapper:last-child{float:right
}
.rtl .th-item-wrapper:last-child{float:left
}
.th-item-wrapper.wide{width:100%
}
.th-img-element,.th-item-wrapper .page{position:relative
}
.th-img-element{width:100%;margin:auto;cursor:pointer;text-align:left;text-align:initial;overflow:hidden
}
.th-img-element.loading .preloader{width:100%;height:100%;position:absolute
}
.th-item-wrapper.wide .th-img-element.loading .preloader{width:50%
}
.slide .th-item-wrapper.wide .th-img-element.loading .preloader{width:100%
}
.th-item-title{display:block;width:100%;height:18px;padding:6px 0 12px;text-align:center;font-size:13px;cursor:default;margin-bottom:-36px
}
.slide .rtl .th-item-wrapper:first-child,.slide .rtl .th-item-wrapper:last-child,.slide .th-item-wrapper:first-child,.slide .th-item-wrapper:last-child{padding:5px 10px
}
.slide .rtl .th-item-wrapper,.slide .th-item-wrapper{float:none
}
.slide .rtl .th-item-title,.slide .th-item-title{margin-bottom:0
}
.th-item-wrapper .gradient{width:100%;height:100%;pointer-events:none;position:absolute
}
.rtl .th-item-wrapper:last-child .gradient,.th-item-wrapper:first-child .gradient{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.2)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.2)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.2))
}
.rtl .th-item-wrapper:first-child .gradient,.th-item-wrapper:last-child .gradient{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.15)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.15)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.15))
}
.rtl .th-item-wrapper:first-child.wide .gradient,.th-item-wrapper.wide .gradient{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.15)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.15)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.15) 50%,transparent 52%)
}
.rtl .th-item-wrapper:last-child .gradient.light,.th-item-wrapper:first-child .gradient.light{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.1)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.1)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.1))
}
.rtl .th-item-wrapper:first-child .gradient.light,.th-item-wrapper:last-child .gradient.light{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.05)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.05)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.05))
}
.th-item-wrapper.wide .gradient.light{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.05)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.05)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.05) 50%,transparent 52%)
}
.rtl .th-item-wrapper:last-child .gradient.hard,.th-item-wrapper:first-child .gradient.hard{background:-webkit-gradient(linear,left top,right top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.3)));background-image:-webkit-gradient(linear,left top,right top,color-stop(95%,transparent),to(rgba(0,0,0,.3)));background-image:linear-gradient(90deg,transparent 95%,rgba(0,0,0,.3))
}
.rtl .th-item-wrapper:first-child .gradient.hard,.th-item-wrapper:last-child .gradient.hard{background:-webkit-gradient(linear,right top,left top,color-stop(.95,transparent),color-stop(1,rgba(0,0,0,.25)));background-image:-webkit-gradient(linear,right top,left top,color-stop(95%,transparent),to(rgba(0,0,0,.25)));background-image:linear-gradient(270deg,transparent 95%,rgba(0,0,0,.25))
}
.th-item-wrapper.wide .gradient.hard{background:-webkit-gradient(linear,right top,left top,color-stop(.47,transparent),color-stop(.5,rgba(0,0,0,.25)),color-stop(.52,transparent));background-image:-webkit-gradient(linear,right top,left top,color-stop(47%,transparent),color-stop(50%,rgba(0,0,0,.25)),color-stop(52%,transparent));background-image:linear-gradient(270deg,transparent 47%,rgba(0,0,0,.25) 50%,transparent 52%)
}
.slide .th-item-wrapper .gradient,.th-item-wrapper.first .gradient,.th-item-wrapper .gradient.zero,.th-item-wrapper.last .gradient{display:none
}

.toc-ul{width:100%
}

.toc-item{width:100%
}
.toc-item-p{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;min-height:36px;vertical-align:text-top;font-size:12px;line-height:34px;-webkit-user-select:none;-webkit-user-drag:none
}
.toc-item .icon,.toc-item .page-label{display:inline-block;float:left;-ms-flex-negative:0;flex-shrink:0;width:26px;height:36px;text-align:center;vertical-align:middle;line-height:34px
}
.toc-item .icon:before,.toc-item .page-label:before{width:28px;height:34px;font-size:15px;line-height:36px
}
.toc-item:hover{cursor:pointer
}
.toc-sub-item-ul{display:block
}
.toc-item-title{display:inline-block;float:left;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px 10px 10px 0;text-align:left;vertical-align:middle;text-overflow:ellipsis;line-height:15px
}


.search-sub-header{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;padding-right:10px;padding-left:10px;text-align:left;font-size:12px;line-height:27px;direction:ltr;cursor:default
}
.search-sub-header.empty-result{height:3px;background:transparent!important
}
.search-input-block{width:100%;margin:5px 0;padding:0 10px;line-height:23px
}
.search-input-block,.search-input-block .search-icon{-webkit-box-sizing:border-box;box-sizing:border-box;height:23px
}
.search-input-block .search-icon{float:right;margin:1px 0 0;border:0;width:28px;cursor:pointer;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none
}
.search-input-block .search-icon svg{width:14px;height:14px;margin:4px 7px
}
.search-input-block .clear-icon{position:absolute;right:48px;border:0;-webkit-box-sizing:border-box;box-sizing:border-box;width:24px;height:24px;cursor:pointer;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none
}
.search-input-block .clear-icon svg{margin:4px
}
.search-input-block label{display:block;padding-right:10px
}
.search-input-block input,.search-input-block label{overflow:hidden;white-space:nowrap;text-overflow:ellipsis
}
.search-input-block input{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:23px;padding:0 5px;text-align:left;line-height:23px
}
.search-live-preloader{float:right;width:60px;height:10px
}
.search-preloader{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:50px;margin-top:20px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.search-preloader .preloader-dots{height:50px
}
.search-live-preloader .dot,.search-preloader .preloader-dots .dot{display:inline-block;width:8px;height:8px;-webkit-animation:moveit 1.8s infinite;animation:moveit 1.8s infinite;opacity:.3;border-radius:50%;background:#666
}
.search-live-preloader .dot{-webkit-animation:moveitlive 1s infinite;animation:moveitlive 1s infinite
}
.search-preloader .preloader-dots .dot:nth-child(2){-webkit-animation-delay:.15s;animation-delay:.15s
}
.search-preloader .preloader-dots .dot:nth-child(3){-webkit-animation-delay:.3s;animation-delay:.3s
}
.search-preloader .preloader-dots .dot:nth-child(4){-webkit-animation-delay:.45s;animation-delay:.45s
}
.search-preloader .preloader-dots .dot:nth-child(5){-webkit-animation-delay:.6s;animation-delay:.6s
}
@-webkit-keyframes moveit{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
35%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.3
}
50%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.8
}
70%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:.8
}
85%{-webkit-transform:translateY(-3px);transform:translateY(-3px)
}
}
@keyframes moveit{
0%{-webkit-transform:translateY(0);transform:translateY(0)
}
35%{-webkit-transform:translateY(0);transform:translateY(0);opacity:.3
}
50%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.8
}
70%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:.8
}
85%{-webkit-transform:translateY(-3px);transform:translateY(-3px)
}
}
@-webkit-keyframes moveitlive{
0%{-webkit-transform:translateX(0);transform:translateX(0)
}
50%{-webkit-transform:translateX(50px);transform:translateX(50px)
}
to{-webkit-transform:translateX(0);transform:translateX(0)
}
}
@keyframes moveitlive{
0%{-webkit-transform:translateX(0);transform:translateX(0)
}
50%{-webkit-transform:translateX(50px);transform:translateX(50px)
}
to{-webkit-transform:translateX(0);transform:translateX(0)
}
}
.search-live-preloader.hidden,.search-preloader.hidden,.search-scroller.hidden{display:none
}

.search-ul{width:100%
}
.search-item{width:100%;text-align:left
}
.search-item-p{display:inline-block;width:100%;min-height:36px;font-size:12px;line-height:34px;direction:ltr;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.search-item-p:hover{cursor:pointer
}
.search-item-p{overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px;vertical-align:middle;text-overflow:ellipsis;line-height:15px
}
